@charset "UTF-8";
/* CSS Document */

/******************************
リセット
******************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul,li {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
img,a{
	vertical-align:top;
}
input[type="submit"],
input[type="button"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

/******************************
共通
******************************/
html {
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-text-size-adjust: none;
	font-size:62.5%;
}
body {
	line-height:1.75;
	color:#000;
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,  "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	overflow-x:hidden;
	background:#000;
	font-size: 1.4rem;
}
a , input {
	outline:none;
}
a,
a:link,
a:visited {
	color: #000;
}
a:hover,
a:active  {
	text-decoration: none;
}
#wrapper {
	background-color: #f5f5f5;
}

/******************************
ヘッダー&メニュー
******************************/
header {
}
header .headerIn {
	width: 960px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 35px;
}
header #logo {
	float: left;
	width: 178px;
	text-align: center;
}
header .logoImg {
	padding-top: 32px;
	margin-bottom: 35px;
}
header .logoImg img {
	width: 96px;
}
header .logoTxt img {
	width: 140px;
}
header #navPc {
	float: right;
	width: 782px;
}
header #navPc .btn {
	padding-top: 20px;
	margin-bottom: 29px;
	overflow: hidden;
	width: 100%;
}
header #navPc .btn li {
	float: right;
	margin-left: 20px;
}
header #navPc .nav {
	overflow: hidden;
	width: 100%;
}
header #navPc .nav li {
	float: right;
}
.hover a:hover img {
	opacity: 0.7;
}
header #navSp {
	display: none;
}
#menuSp {
	display: none;
}
#loginBar {
	background-color: #3f3f3f;
}
#loginBar p {
	width: 940px;
	padding: 12px 0;
	margin: 0 auto;
	background-image: url("../img/header/ico_login.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 31px 31px;
}
#loginBar a {
	color: #fff;
	font-size: 1.2rem;
	display: inline-block;
	margin-right: 10px;
}
#loginBar a.name {
	padding-left: 40px;
}
#loginBar a:hover {
	text-decoration: none;
}

/******************************
フッター
******************************/
.gototop {
	width: 100%;
	text-align: center;
	display: block;
	background-image: url("../img/footer/bg_gototop.png");
	background-position: bottom;
	background-repeat: repeat-x;
}
.gototop:hover {
	opacity: 0.7;
	cursor: pointer;
}
.footerNav {
	border-top:#fff solid 2px;
	border-bottom:#fff solid 2px;
	background-color: #e2e2e2;
	padding: 25px 0;
}
.footerNav .homeSp {
	display: none;
}
.footerNav ul {
	display: table;
	width: 960px;
	margin: 0 auto;
	border-left: #868686 solid 1px;
}
.footerNav ul li {
	display: table-cell;
	text-align: center;
	border-right: #868686 solid 1px;
	font-size: 1.5rem;
	line-height: 1.4;
	width: 20%;
}
.footerNav ul li.footermenuSp {
	display: none;
}
.footerNav span {
	display: none;
}
.footerNav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
}
.footerNav ul li a:hover {
	opacity: 0.7;
}
.footerTel {
	background-color: #f5f5f5;
	border-bottom:#fff solid 2px;
	text-align: center;
	padding: 33px 0 24px;
}
.wanted {
	background-color: #9dd1db;
	background-image: url("../img/footer/bg_wanted.png");
	background-position: bottom;
	background-repeat: no-repeat;
	height: 220px;
	position: relative;
	text-align: center;
}
.wanted a {
	position: absolute;
	top: 132px;
	margin-left: 64px;
	font-size: 1.8rem;
	color: #000;
	font-weight: bold;
	line-height: 1.2;
	border-bottom: #000 solid 1px;
	text-decoration: none;
}
.wanted a:hover {
	text-decoration: none;
	border-bottom: none;
}
.copy {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	letter-spacing: 2px;
}
.footerBtn {
	display: none;
}
/******************************
アーティクル
******************************/
article {
	padding-bottom: 80px;
}
article.white {
	background-image: url("../img/share/bg_white.png");
	background-position: bottom;
	background-repeat: repeat-x;
}
#pageTitle {
	background-color: #00b2b2;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
	padding: 14px 0;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	margin-bottom: 25px;
}

/******************************
TOPページ
******************************/
#mainSlide { 
	width: 960px;
	margin: 0 auto;
	height: 640px;
	position: relative;
}
.mainSlideIn {
	width: 2880px;
	position: absolute;
	left: 50%;
	margin-left: -1440px;
	position: relative;
}
.mainSlideIn:after {
	content: "";
    position:absolute;
    top:0; right:0; bottom:0; left:0;
	box-shadow: 0 10px 10px rgba(0,0,0,.15) inset;
	height: 20px;
}
.slider {
	width: 100%;
}
.slider li {
	width: 960px;
}
.slider li img {
	width: 100%;
	vertical-align: bottom;
}
.bx-pager {
	text-align: center;
	height: 14px;
}
.bx-pager-item {
	display: inline-block;
}
.bx-pager-item a {
	display: block;
	height: 14px;
	width: 14px;
	text-indent: -9999px;
	background-color: #339fd1;
	border: #fff solid 2px;
	border-radius: 14px;
	margin: 0 5px;
}
.bx-pager-item a.active {
	background-color: #fff;
	border: #339fd1 solid 2px;
	opacity: 0.9;
}
.bx-controls {
	position: absolute;
	bottom: 0px;
	z-index: 100;
	width: 100%;
}
#infoArea {
	width: 840px;
	margin: 50px auto 40px;
}
.indexTit {
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 2.6rem;
	color: #4f3400;
	padding: 38px 0 30px;
	letter-spacing: 0.1em;
	font-weight: bold;
	margin-bottom: 50px;
}
#infoArea .indexTit {
	background-image: url("../img/index/tit_information.png");
}
.infoBox {
	background-image: url("../img/index/bg_info.png");
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 30px;
	position: relative;
	border: #000 solid 2px;
	padding: 30px 0 36px;
}
.infoImg {
	position: absolute;
	top: -47px;
	right: 17px;
}
.infotxtMain {
	text-align: center;
	font-size: 2.0rem;
	font-weight: bold;
	margin-bottom: 8px;
}
.infotxtSub {
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 24px;
}
a.greenBtn {
	border: #fff solid 2px;
	background-color: #26afaf;
	color: #fff;
	border-radius: 5px;
	background-image: url("../img/share/bg_arrow_w.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 23px 17px;
	width: 400px;
	margin: 0 auto;
	font-weight: bold;
	box-shadow: 0 4px rgba(0,0,0,0.15);
	padding: 18px 0;
	display: block;
	font-size: 1.8rem;
	text-align: center;
	text-decoration: none;
}
a.greenBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
.infoList {
	margin-top: 50px;
}
.infoListTit {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 15px;
}
.infoList dt {
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 3px;
}
.infoList dt span {
	display: inline-block;
	margin-left: 10px;
	padding: 0 20px;
	color: #fff;
	font-size: 1.4rem;
	font-weight: normal;
	background-color: #333;
}
.infoList dd {
	font-size: 1.6rem;
	margin-bottom: 15px;
}
#photomenuArea {
	background-color: #fff;
	padding: 50px 0;
}
#photomenuArea .indexTit {
	background-image: url("../img/index/tit_menu.png");
}
.photomenuAreaIn {
	width: 842px;
	margin: auto;
}
.menuTop {
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
}
.menuTop li {
	width: 238px;
	float: left;
	margin-right: 64px;
}
.menuTop li:last-child {
	margin-right: 0;
}
.menuTop li a {
	text-decoration: none;
}
.menuTop li a:hover {
	text-decoration: underline;
}
.menuTop li p {
	width: 194px;
	margin: 5px auto 0;
}
.menuTop li span {
	font-weight: bold;
	font-size: 1.8rem;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
.menuBottom {
	width: 840px;
	overflow: hidden;
	margin: 0 auto 40px;
}
.menuBottom li {
	float: left;
	margin-right: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
}
.menuBottom li:last-child {
	margin-right: 0;
}
.menuBottom li img {
	display: block;
	margin-bottom: 5px;
}
.menuBottom li a {
	text-decoration: none;
}
.menuBottom li a:hover {
	text-decoration: underline;
}
#studioArea {
	width: 840px;
	margin: auto;
	padding: 50px 0;
	font-size: 1.6rem;
	text-align: center;
}
#studioArea .indexTit {
	background-image: url("../img/index/tit_aboutstudio.png");
}
#studioArea .tit {
	margin:40px 0;
}
.movieList {
	width: 100%;
	overflow: hidden;
}
.movieList li {
	border: #000 solid 1px;
}
.movieList li:first-child {
	float: left;
}
.movieList li:last-child {
	float: right;
}
#productArea {
	background-color: #fff;
	padding: 50px 0;
}
.productAreaIn {
	width: 840px;
	text-align: center;
	margin: auto;
}
#productArea .indexTit {
	background-image: url("../img/index/tit_product.png");
}
#productArea .txt {
	margin-bottom: 40px;
}
#productArea .img {
	margin-bottom: 30px;
}
.whiteBg {
	background-color: #fff;
	border-top: #fff solid 1px;
}
#accessArea {
	background-color: #fff;
	padding-top: 50px;
}
#accessArea .indexTit {
	background-image: url("../img/index/tit_access.png");
}
.accessAreaIn {
	width: 960px;
	overflow: hidden;
	margin: auto;
}
.gMap {
	float: left;
	width: 463px;
	height: 430px;
}
.addressBox {
	float: right;
	width: 436px;
}
.addressBox .img {
	margin-bottom: 20px;
}
.addressBox .tit {
	margin-bottom: 10px;
}
.addressBox .txt {
	margin-bottom: 20px;
}

/******************************
ログイン
******************************/
body#popup {
	background-color: rgba(0,0,0,0.1);
}
.loginArea {
	width:100%;
}
#popupTitle {
	background-color: #ff4281;
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
}
.loginAreaIn {
	padding: 20px 20px 1px;
	background-color: #fff;
}
.loginBox {
	background-color: #e6e6e6;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.loginBox .tit {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.loginBox .txt {
	margin-bottom: 10px;
}
.loginBox dd {
	margin-bottom: 5px;
}
.loginBox input {
	padding: 12px 0;
	font-size: 1.4rem;
	width: 100%;
}
.loginBox .loginBtn {
	background-color: #000;
	width: 200px;
	color: #fff;
	padding: 10px 0;
	border-radius: 5px;
	border: none;
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 10px auto 10px;
}
/******************************
会員登録
******************************/
.descriptionArea {
	width: 720px;
	margin: 0 auto 30px;
	text-align: center;
}
.descriptionArea.thankyou {
	background-image: url("../img/share/bg_thankyou.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 122px 109px;
	padding-top: 130px;
}
.descriptionArea .tit {
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.descriptionArea .txt {
	color: #f00;
	font-weight: bold;
}
.descriptionArea .subTxt {
	margin-top: 5px;
	font-size: 1.2rem;
	color: #474747;
}
.formEnterArea {
	width: 720px;
	margin: 0 auto 30px;
}
.formEnterArea .tit {
	font-weight: bold;
	border: #3399cc solid 1px;
	background-color: #f5f9e2;
	padding: 9px;
	margin-bottom: 25px;
}
.formEnterArea .tit span {
	display: inline-block;
	border-left: #3399cc solid 3px;
	padding-left: 10px;
	line-height: 1.3;
	font-size: 1.5rem;
}
.formEnterArea dl {
	margin: 0 10px;
	padding-top: 5px;
}
.formEnterArea dt {
	font-weight: bold;
	border-left: #3399cc solid 3px;
	padding-left: 10px;
	line-height: 1;
	margin-bottom: 10px;
}
.formEnterArea dd {
	margin-bottom: 20px;
}
.formEnterArea dd input[type="text"] {
	border: #525252 solid 1px;
	box-shadow: 4px 4px rgba(0,0,0,0.15) inset;
	padding: 12px;
	width: 676px;
	font-size: 1.4rem;
}
.formEnterArea table {
	width: 700px;
	margin: 10px auto;
	border-top: #606060 solid 1px;
	border-left: #606060 solid 1px;
}
.formEnterArea table th {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #dcdcdc;
	padding: 5px 5px 5px 15px;
}
.formEnterArea table td {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #fff;
	padding: 5px 5px 5px 15px;
}
.bbBlue {
	border-bottom: #3399cc solid 1px;
}
.boldTxt {
	font-weight: bold;
	margin-bottom: 10px;
}
.formTxt {
	margin: 0 10px 20px;
}
.formCheckArea {
	width: 720px;
	margin: 0 auto 30px;
	background-color: #e0f1f9;
	border: #3399cc solid 1px;
	border-radius: 5px 5px 0 0;
	padding-bottom: 10px;
}
.formCheckArea .tit {
	background-color: #3399cc;
	color: #fff;
	font-size: 1.6rem;
	text-align: center;
	padding: 10px 0;
}
.formCheckArea table {
	width: 680px;
	margin: 10px auto;
	border-top: #606060 solid 1px;
	border-left: #606060 solid 1px;
}
.formCheckArea table th {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #dcdcdc;
	padding: 5px 5px 5px 15px;
	width: 40%;
}
.formCheckArea table td {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #fff;
	padding: 5px 5px 5px 15px;
}
.shortForm {
	width: 6em !important;
}
.formEnterArea dd input.addressBtn {
	background-image: url("../img/share/bg_arrow_s.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 10px 5px;
	background-color: #339966;
	color: #fff;
	font-size: 1.0rem;
	border: #339966 solid 1px;
	box-shadow: none;
	width: auto;
	padding: 8px 8px 8px 16px;
	border-radius: 3px;
	margin-left: 10px;
}
.formEnterArea dd input:hover.addressBtn {
	opacity: 0.7;
	cursor: pointer;
}
.submitBtn ,
a.submitBtn {
	border: #fff solid 2px;
	background-color: #42b9d0;
	color: #fff;
	border-radius: 5px;
	background-image: url("../img/share/bg_arrow_w.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 23px 17px;
	width: 500px;
	margin: 30px auto 0;
	font-weight: bold;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	padding: 15px 0;
	display: block;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
}
.submitBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
.backBtn ,
a.backBtn {
	border: #4e4e4e solid 1px;
	background-color: #e7e7e7;
	border-radius: 5px;
	background-image: url("../img/share/bg_arrow_b.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 23px 17px;
	width: 200px;
	margin: 30px auto 0;
	font-weight: bold;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	padding: 12px 0;
	display: block;
	font-size: 1.2rem;
	text-decoration: none;
	text-align: center;
}
.backBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
.mypageBtn ,
a.mypageBtn {
	border: #fff solid 2px;
	background-color: #339fd0;
	color: #fff;
	border-radius: 5px;
	background-image: url("../img/footer/bg_mypage.png");
	background-repeat: no-repeat;
	background-position: 28% 6px;
	background-size: 75px 57px;
	width: 500px;
	margin: 20px auto 0;
	font-weight: bold;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	padding: 15px 0;
	display: block;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
}
:placeholder-shown  {
    color: #a9a9a9;
}
::-webkit-input-placeholder  {
    color: #a9a9a9;
}
:-moz-placeholder {
    color: #a9a9a9;
}
::-moz-placeholder {
    color: #a9a9a9;
}
:-ms-input-placeholder {
    color: #a9a9a9;
}
/******************************
撮影の流れ
******************************/
#reserveTop {
	background-color: #edefe2;
	text-align: center;
	padding: 68px 0 200px;
	background-image: url("../img/reserve/bg_reserve.png");
	background-repeat: no-repeat;
	background-position: 50% bottom;
	border-bottom: #fff solid 1px;
}
#reserveTop .purpleBox {
	width: 550px;
	margin: 10px auto 0;
}
#reserveTop #reserveTitle {
	background-image: url("../img/reserve/tit_reserve.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	font-size: 2.4rem;
	padding-top: 60px;
	font-weight: bold;
	margin-bottom: 20px;
}
.reserveArea {
	padding-top: 36px;
	width: 720px;
	margin: 0 auto;
}
.reserveArea .reservationflowTit {
	background-image: url("../img/reserve/tit_reservationflow.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 2.6rem;
	color: #4f3400;
	padding: 38px 0 30px;
	letter-spacing: 0.1em;
	font-weight: bold;
	margin-bottom: 50px;
}
.reserveArea .reserveBox {
	padding-bottom: 30px;
	margin-bottom: 10px;
	background-image: url("../img/share/bg_arrow_d.png");
	background-repeat: no-repeat;
	background-position: center bottom;
}
.reserveArea .reserveBox.none {
	background-image: none;
}
.reserveArea .reserveBox div {
	border: #3399cc solid 1px;
	background-color: #f5f9e2;
	padding: 20px 20px 20px 45px;
	width: 500px;
	margin-left: 100px;
	position: relative;
}
.reserveArea .reserveBox .num {
	position: absolute;
	left: -25px;
	top:50%;
	margin-top: -25px;
	font-family: arial;
	color: #fff;
	background-color: #42b9d0;
	width: 50px;
	font-size: 4.0rem;
	line-height: 1;
	padding: 5px 0;
	text-align: center;
	border-radius: 25px;
}
.reserveArea .reserveBox .tit {
	font-weight: bold;
	font-size: 1.6rem;
}
.reserveArea .subTxt {
	width: 565px;
	margin-left: 100px;
	margin-bottom: 50px;
	font-weight: bold;
}
a.registrationBtn {
	border-bottom: #227ca6 solid 2px;
	background-color: #339fd0;
	color: #fff;
	border-radius: 5px;
	background-image: url("../img/share/bg_hige.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 42px 24px;
	width: 50%;
	margin: 10px auto 0;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	padding: 8px 0;
	display: block;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
a:hover.registrationBtn {
	opacity: 0.7;
}
/******************************
カレンダー
******************************/
.stepArea {
	width: 720px;
	margin: 0 auto 50px;
} 
.stepArea ul {
	width: 100%;
	overflow: hidden;
}
.stepArea ul li {
	float: left;
	width: 120px;
	padding-right: 29px;
	background-image: url("../img/share/bg_arrow_t.png");
	background-repeat: no-repeat;
	background-position: 130px 39px;
	text-align: center;
	font-weight: bold;
}
.stepArea ul li:last-child {
	padding-right: 0;
	background-image: none;
}
.stepArea ul li span {
	display: block;
	border: #3399cc solid 1px;
	background-color: #fff;
	text-align: center;
	width: 120px;
	padding: 10px 0;
}
.stepArea ul li.active span {
	border: #3399cc solid 2px;
	background-color: #f5f9e2;
	width: 118px;
	padding: 9px 0;
}
.attentionArea {
	width: 720px;
	margin: 0 auto 30px;
}
.attentionArea .tit {
	margin-bottom: 30px;
	text-align: center;
}
.attentionArea table {
	border-top: #000 solid 1px;
	border-left: #000 solid 1px;
	margin-bottom: 10px;
}
.attentionArea table th,
.attentionArea table td {
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	text-align: center;
	vertical-align: middle;
}
.attentionArea table thead th {
	background-color: #42b9d0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 1.7rem;
	padding: 10px 0;
}
.attentionArea table tbody th {
	background-color: #dcdcdc;
	width: 30px;
	padding: 15px 3px;
	font-size: 1.2rem;
	line-height: 1.2;
}
.attentionArea table tbody th.side {
	background-color: #ff9999;
	padding: 5px 0 5px 5px;
	width: auto;
	text-align: left;
	font-size: 1.4rem;
}
.attentionArea table tbody td {
	background-color: #fff;
	padding: 5px 0;
}
.attentionArea .subTit {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fc528b;
	margin-bottom: 5px;
}
.calendarArea {
	width: 720px;
	margin: auto;
}
.reservationStatusTit {
	background-image: url("../img/reserve/tit_reservationstatus.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 2.6rem;
	color: #4f3400;
	padding: 38px 0 30px;
	letter-spacing: 0.1em;
	font-weight: bold;
	margin-bottom: 50px;
}
.guideboard {
	background-image: url("../img/reserve/bg_guideboard.png");
	background-repeat: no-repeat;
	background-size: 400px 174px;
	width: 400px;
	margin: auto;
	text-align: center;
	margin-bottom: 30px;
}
.guideboard dt {
	padding-top: 16px;
	font-size: 1.5rem;
}
.guideboard dd {
	padding: 48px 0 28px;
	font-size: 1.8rem;
}
.guideboard dd span {
	float: 2.2rem;
	font-weight: bold;
	display: inline-block;
	margin: 0 5px;
}
.calendarArea .calendarBox {
	margin-bottom: 50px;
}
.calendarArea table.main {
	width: 100%;
	border-top: #000 solid 1px;
	border-left: #000 solid 1px;
}
.calendarArea table.main th ,
.calendarArea table.main td {
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	text-align: center;
}
.calendarArea table.main thead th {
	color: #fff;
	padding: 10px 0;
	background-color: #75b4b4;
	font-size: 1.6rem;
	font-weight: bold;
} 
.calendarArea table.main thead th.tit {
	position: relative;
	font-size: 1.8rem;
	padding: 15px 0;
	background-color: #5abbbb;
}
.calendarArea table.main thead th.sat {
	color: #000f9f;
}
.calendarArea table.main thead th.sun {
	color: #ff0000;
}
.calendarArea table.main thead th.tit a {
	position: absolute;
	top:20px;
	right: 10px;
}
.calendarArea table.main thead th.tit a:hover {
	opacity: 0.7;
}
.calendarArea table.main thead th.tit a img {
	width: 50px;
}
.calendarArea table.main td {
	width: 14.2%;
	padding: 10px 6px 10px 10px;
	vertical-align: top;
	font-size: 1.2rem;
	background-color: #fff;
}
.calendarArea table.main td.nologin {
	padding: 0;
}
.calendarArea table.main td.nologin a {
	padding: 10px 6px 10px 10px;
	text-decoration: none;
	display: block;
}
.calendarArea table.main td .num {
	display: block;
	font-weight: bold;
	text-align: left;
	font-size: 2.0rem;
	line-height: 1;
	margin-bottom: 8px;
}
.calendarArea table.main td.sat .num {
	color: #000f9f;
}
.calendarArea table.main td.sun .num {
	color: #ff0000;
}
.calendarArea table.main td .course {
	display: block;
	text-align: left;
	line-height: 1.2;
	margin-bottom: 12px;
}
.calendarArea table.main td .course.none {
	padding-top: 2em;
	text-align: center;
}
.calendarArea table.main td .icon ,
.timeArea td .icon {
	border: #000 solid 1px;
	display: inline-block;
	width: 34px;
	height: 34px;
	background-color: #fff;
	background-repeat: no-repeat;
}
.calendarArea table.main td .icon.cross ,
.timeArea td .icon.cross {
	background-image: url("../img/reserve/bg_cross.png");
	background-color: #eaeaea;
}
.calendarArea table.main td .icon.circle ,
.timeArea td .icon.circle {
	background-image: url("../img/reserve/bg_circle.png");
	background-color: #ffcdd9;
}
.calendarArea table.main td .icon.triangle ,
.timeArea td .icon.triangle {
	background-image: url("../img/reserve/bg_triangle.png");
	background-color: #ffcdd9;
}
.calendarArea table.main td.past {
	background-color: #ccc;
	opacity: 0.3;
}
.calendarArea table.main td.open {
	background-color: #edff99;
}
.calendarArea table.main td.notyet {
	background-color: #999;
	opacity: 0.7;
}
.calendarArea table.main td.notyet .icon.circle {
	background-image: url("../img/reserve/bg_circle_o.png");
}
.calendarArea table.main td.notyet .icon {
	background-color: #999;
}
.calendarArea table.main td.clickable:hover {
	background-color: #c9eb87;
	cursor: pointer;
}
.calendarArea table.sub {
	margin: 10px 10px 0;
	width: auto;
}
.calendarArea table.sub th {
	width: 25px;
}
.calendarArea table.sub td {
	padding-right: 50px;
}
.calendarArea table.sub .open {
	border: #000 solid 1px;
	background-color: #edff99;
	height: 12px;
	width: 12px;
	display: block;
}
.calendarArea table.sub .notyet {
	border: #000 solid 1px;
	background-color: #b2b2b2;
	height: 12px;
	width: 12px;
	display: block;
}

/******************************
時間選択
******************************/
.timeArea {
	width: 720px;
	margin: 0 auto 30px;
	border: #3399cc solid 3px;
	padding-bottom: 20px;
}
.timeArea .tit {
	background-color: #3399cc;
	color: #fff;
	font-size: 1.3rem;
	font-weight: normal;
	text-align: center;
	padding: 10px 0 14px;
}
.timeArea .tit span.courseName {
	font-size: 1.6rem;
	font-weight: bold;
}
.timeArea .tit span.whiteBox {
	font-weight: bold;
	font-size: 1.6rem;
	display: block;
	width: 300px;
	background-color: #fff;
	padding: 10px 0;
	color: #000;
	margin: 5px auto 0;
}
.timeArea .subTit {
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}
.timeArea .subTit span {
	display: block;
	color: #fc528b;
}
.timeArea table {
	width: 680px;
	margin: 10px auto;
	border-top: #606060 solid 1px;
	border-left: #606060 solid 1px;
}
.timeArea table th {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #dcdcdc;
	text-align: center;
	padding: 15px 0;
}
.timeArea table thead th {
	background-color: #3399cc;
	color: #fff;
}
.timeArea table td {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	text-decoration: underline;
	line-height: 1;
}
.timeArea table td.clickable:hover {
	background-color: #c9eb87;
	cursor: pointer;
}
.timeArea .txt {
	margin-left: 20px;
	font-size: 1.2rem;
}
/******************************
情報入力
******************************/
.importantArea {
	width: 720px;
	margin: 0 auto 20px;
	text-align: center;
}
.importantArea .tit {
	background-color: #ff6a4d;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0;
	margin-bottom: 20px;
}
.importantArea .txtWhite {
	padding: 5px 10px;
	width: 90%;
	margin: 0 auto 10px;
	text-align: center;
	background-color: #fff;
}
.importantArea .txt {
	border: #f00 solid 1px;
	padding: 10px;
	color: #f00;
	font-size: 1.3rem;
}
.importantArea .txt span {
	font-weight: bold;
	font-size: 1.4rem;
}
.importantArea .subTxt {
	font-weight: bold;
	margin-top: 20px;
}
.pTit {
	color: #fc528b;
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
}
.pTit span {
	display: block;
	color: #000;
	margin-bottom: 15px;
}
.selectBox select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border-radius: 0;
	background-image: url(../img/share/btn_arrow01.png);
	background-position: right 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
	border: #525252 solid 1px;
	box-shadow: 4px 4px rgba(0,0,0,0.15) inset;
	padding: 7px 0 7px 20px;
	width: 120px;
	font-size: 1.4rem;
	text-align: left;
}
.selectBox select:hover {
	cursor: pointer;
}
.selectBox .selectYear,
.selectBox .selectMonth {
	margin-right: 10px;
}
table.model {
	border-top: #525252 solid 1px;
	border-left: #525252 solid 1px;
}
table.model th {
	border-bottom: #525252 solid 1px;
	border-right: #525252 solid 1px;
	background-color: #dcdcdc;
	padding: 0;
	width: 120px;
	text-align: center;
}
table.model td {
	border-bottom: #525252 solid 1px;
	border-right: #525252 solid 1px;
	padding: 5px 5px 5px 20px;
}
table.model th label {
	padding: 36px 0 36px 10px;
	width: 120px;
	display: block;
}
.modelEnter {
	padding-top: 20px;
	border-top: #3399cc solid 1px;
}
input.check {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	background-image: url(../img/share/bg_check.png);
	background-position: left top;
	background-repeat: no-repeat;
	margin-right: 10px;
}
input.check:checked::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background-image: url(../img/share/bg_check.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
input.radio {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background-image: url(../img/share/bg_radio.png);
	background-size: 15px 30px;
	background-position: left top;
	background-repeat: no-repeat;
	margin-right: 10px;
}
input.radio:checked::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 15px;
	height: 15px;
	background-image: url(../img/share/bg_radio.png);
	background-size: 15px 30px;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.radioUl {
}
.radioUl li {
	display: inline-block;
	width: 220px;
	margin-bottom: 5px;
}
.radioUl li label {
	border: #787878 solid 1px;
	display: block;
	padding: 5px 10px;
	background-color: #fff;
}
.message01 {
	width: 720px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.message01 .tit {
	font-weight: bold;
	text-align: center;
	font-size: 1.6rem;
	margin-bottom: 20px;
}
.message01 .subTit {
	font-weight: bold;
	color: #f00;
}
.message01 .txt {
	margin-bottom: 20px;
}
.message01 .subTxt {
	font-size: 1.2rem;
}

/******************************
マイページ
******************************/
#mypageTop {
	text-align: center;
	padding: 44px 0 20px;
	background-image: url("../img/mypage/bg_mypage.png");
	background-size: 206px 206px;
	border-bottom: #fff solid 1px;
}
#mypageTop #mypageTitle {
	background-image: url("../img/mypage/tit_mypage.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	font-size: 2.4rem;
	padding-top: 84px;
	font-weight: bold;
	margin-bottom: 20px;
}
#mypageTop .mypageTopBox {
	width: 720px;
	margin: 40px auto;
	padding-bottom: 3px;
	overflow: hidden;
}
#mypageTop .mypageTopBox .img {
	float: left;
	border: #fff solid 3px;
	box-shadow: 0 3px rgba(0,0,0,0.15);
}
}
#mypageTop .mypageTopBox .img img {
	width: 294px;
}
#mypageTop .mypageTopBox .txt {
	margin-top: 30px;
	float: right;
	width: 380px;
	text-align: left;
}
#mypageTop .mypageTopBox .tit {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
#mypageNav {
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,.15);
	border-top: #fff solid 2px;
	border-bottom: #fff solid 2px;
	margin-bottom: 30px;
}
#mypageNav ul {
	width: 720px;
	margin: auto;
	display: table;
	border-left: #898989 solid 1px;
}
#mypageNav ul li {
	display: table-cell;
	vertical-align: middle;
	border-right: #898989 solid 1px;
	line-height: 32px;
	width: 30%;
}
#mypageNav ul li.home {
	width: 10%;
}
#mypageNav a {
	display: block;
	text-align: center;
	padding: 20px 0;
	text-decoration: none;
	background-color: #e9e9e9;
	font-weight: bold;
}
#mypageNav li.act a ,
#mypageNav a:hover {
	background-color: #fff;
}
.mypageArea {
	width: 720px;
	margin: 0 auto 30px;
}
.mypageArea .tit {
	font-weight: bold;
	border: #3399cc solid 1px;
	background-color: #f5f9e2;
	padding: 9px;
	margin-bottom: 25px;
}
.mypageArea .tit span {
	display: inline-block;
	border-left: #3399cc solid 3px;
	padding-left: 10px;
	line-height: 1.3;
	font-size: 1.5rem;
}
.mypageBox {
	margin-bottom: 20px;
	background-color: #e9e9e9;
}
.mypageBox .subTit {
	border: #292929 solid 1px;
	background-color: #42b9d0;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0 10px 58px;
	background-image: url(../img/mypage/ico_clock.png);
	background-repeat: no-repeat;
	background-position: 18px 10px;
	background-size: 27px 27px;
}
.mypageBox dl {
	border: #292929 solid 1px;
	border-top: none;
	padding: 20px 0 15px;
	text-align: center;
}
.mypageBox dl dt {
	font-size: 1.6rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.mypageBox dl dd {
	border: #000 solid 1px;
	background-color: #fff;
	padding: 10px 0;
	margin:0 30px 5px;
}
.mypageBox table {
	width: 100%;
	border-left: #606060 solid 1px;
}
.mypageBox table th {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #dcdcdc;
	padding: 5px 5px 5px 15px;
	width: 40%;
}
.mypageBox table td {
	border-bottom: #606060 solid 1px;
	border-right: #606060 solid 1px;
	background-color: #fff;
	padding: 5px 5px 5px 15px;
}
.mypageBtnArea {
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
a.yellowBtn {
	display: block;
	background-color: #ffd800;
	border-bottom: #3d3200 solid 3px;
	border-radius: 5px;
	background-image: url("../img/share/bg_arrow_bb.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 40px 22px;
	width: 400px;
	font-weight: bold;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	margin: 30px auto 0;
	padding: 10px 0 10px;
	display: block;
	font-size: 1.8rem;
	text-decoration: none;
	text-align: center;
}
a.yellowBtn span {
	background-image: url("../img/share/ico_camera.png");
	background-repeat: no-repeat;
	background-position: left;
	display: inline-block;
	padding: 10px 40px 5px 70px;
}
a.yellowBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
a.smallYellowBtn {
	float: right;
	border: #fff solid 2px;
	background-color: #ffd800;
	border-radius: 5px;
	background-image: url("../img/share/bg_arrow_br.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 23px 17px;
	width: 200px;
	font-weight: bold;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	padding: 12px 0;
	display: block;
	font-size: 1.2rem;
	text-decoration: none;
	text-align: center;
}
a.smallYellowBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
a.smallGrayBtn {
	float: right;
	border: #4e4e4e solid 1px;
	background-color: #e7e7e7;
	border-radius: 5px;
	background-image: url("../img/share/bg_arrow_br.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 23px 17px;
	width: 200px;
	font-weight: bold;
	box-shadow: 0 2px rgba(0,0,0,0.15);
	padding: 12px 0;
	display: block;
	font-size: 1.2rem;
	text-decoration: none;
	text-align: center;
}
a.smallGrayBtn:hover {
	opacity: 0.7;
	cursor: pointer;
}
.mypageBtnArea .subTxt {
	clear: both;
	float: right;
	width: 200px;
	font-size: 12px;
	margin-top: 10px;
	line-height: 1.5;
}
.mypageNotes {
	margin: 0 20px;
	color: #f00;
}
.mypageGuideBox .subTit {
	background-color: #42b9d0;
	color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}
.mypageGuideBoxIn {
	padding: 20px;
	border: #42b9d0 solid 2px;
	border-top: none;
	background-color: #fff;
}
.mypageGuideBox table {
	width: 100%;
	text-align: center;
}
.mypageGuideBox table td {
	padding: 0 20px;
}
.mypageGuideBox table td:first-child {
	border-right: #c1c1c1 dashed 2px;
}
.mypageGuideBox table .tableTit {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.mypageGuideBox table .txt {
	margin-top: 10px;
	text-align: left;
}
/*予約の確認*/

.mypageTitArea {
	padding-top: 36px;
	width: 720px;
	margin: 0 auto 30px;
}
.mypageTitArea .mypageTit {
	background-image: url("../img/mypage/tit_mypage_in.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 2.6rem;
	color: #4f3400;
	padding: 38px 0 30px;
	letter-spacing: 0.1em;
	font-weight: bold;
	margin-bottom: 50px;
}
.mypageTitArea p {
	margin:0 10px;
}
.pinkTit {
	font-weight: bold;
	border: #fc528b solid 1px;
	background-color: #fff;
	color: #fc528b;
	text-align: center;
	padding: 9px;
	margin: 0 10px 25px;
}
.pinkBox {
	border: #fc528b solid 1px;
	background-color: #fff;
	padding: 20px 10px;
	margin:0 10px;
}
.pinkBox.img {
	background-image: url("../img/mypage/bg_kids.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 72px 123px;
	padding-right: 100px;
}
.bTit {
	color: #01adce;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 1.6rem;
}
.mypageCheckBox {
	border: #fff solid 2px;
	border-radius: 10px;
	background-color: #f5f2ec;
	padding: 20px;
	margin: 0 10px 20px 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.mypageCheckBox .checkTit {
	font-weight: bold;
	font-size: 1.6rem;
	margin-bottom: 10px;
}
.mypageCheckBox .checkTit span {
	color: #fc528b;
	display: block;
	background-image: url("../img/mypage/ico_check.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 18px 18px;
	padding-left: 24px;
}
/*撮影履歴*/
.historyArea {
	background-image: url("../img/mypage/bg_historytit.png");
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 50px;
	width: 720px;
	margin: auto;
}
.historyBox {
	margin-top: 60px;
}
.historyBox .subTit {
	background-image: url("../img/mypage/bg_historyflag.png");
	background-repeat: no-repeat;
	background-position: left top;
	padding: 5px 0 5px 60px;
	color: #fff;
	font-weight: bold;
	font-size: 2.4rem;
	margin-bottom: 30px;
}
.historyBox .subTit span {
	display: inline-block;
	margin-right: 66px;
}
.historyBox .historyBoard {
	border: #fff solid 2px;
	border-radius: 10px;
	background-color: #f5f2ec;
	padding: 30px;
	margin: 0 10px 0 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.historyBox .historyBoardIn {
	width: 100%;
	overflow: hidden;
}
.historyBox .historyBoard .img {
	float: left;
}
.historyBox .historyBoard dl {
	float: left;
	margin: 20px 0 0 30px;
}
.historyBox .historyBoard dl dd {
	font-weight: bold;
	font-size: 1.6rem;
	margin-bottom: 10px;
}
/******************************
撮影メニュー
******************************/
#innerTit {
	border-top: #fff solid 1px;
	border-bottom: #fff solid 1px;
	background-color: #f0ece7;
	padding: 22px 0;
	margin: 46px 0;
}
#innerTit.login {
	margin-top: 0;
}
#innerTit h1 {
	width: 840px;
	margin: auto;
	font-size: 1.8rem;
	font-weight: bold;
	position: relative;
}
#innerTit h1 img {
	position: absolute;
	right: 0;
	bottom: -22px;
}
#innerTit h1 span {
	font-family: 'Libre Baskerville', serif;
	margin-right: 20px;
}
.pageTop {
	width: 840px;
	margin: 0 auto 50px;
}
.mainTxt {
	color: #663806;
	font-size: 2.2rem;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}
.subTxt {
	color: #663806;
	font-size: 1.5rem;
	font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
	text-align: center;
	margin-bottom: 30px;
}
.purpleBox {
	background-color: #fff;
	color: #b67eac;
	border: #b67eac solid 1px;
	font-size: 1.6rem;
	padding: 20px 30px;
}
.menuTit {
	background-image: url("../img/menu/index/tit_menu.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 2.6rem;
	color: #4f3400;
	padding: 38px 0 30px;
	letter-spacing: 0.1em;
	font-weight: bold;
	margin-bottom: 50px;
}
.timelineBox {
	background-image: url("../img/menu/index/bg_flag.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 840px;
	margin: 0 auto 100px;
	padding-top: 120px;
}
.timelineList {
	width: 510px;
	display: table;
	padding-bottom: 10px;
	margin-left: 330px;
	margin-bottom: 20px;
}
.timelineList.years01 {
	padding-top: 74px;
	background-image: url("../img/menu/index/bg_01years.png");
	background-repeat: no-repeat;
	background-position: 94px 0;
	background-size: 138px 44px;
}
.timelineList.years03 {
	padding-top: 74px;
	background-image: url("../img/menu/index/bg_03years.png");
	background-repeat: no-repeat;
	background-position: 94px 0;
	background-size: 138px 44px;
}
.timelineList.years10 {
	padding-top: 74px;
	background-image: url("../img/menu/index/bg_10years.png");
	background-repeat: no-repeat;
	background-position: 94px 0;
	background-size: 138px 44px;
}
.timelineList.years20 {
	padding-top: 74px;
	background-image: url("../img/menu/index/bg_20years.png");
	background-repeat: no-repeat;
	background-position: 94px 0;
	background-size: 138px 44px;
}
.timelineList.years60 {
	padding-top: 74px;
	background-image: url("../img/menu/index/bg_60years.png");
	background-repeat: no-repeat;
	background-position: 94px 0;
	padding-bottom: 0;
	background-size: 138px 44px;
}
.timelineList .img {
	display: table-cell;
	width: 200px;
}
.timelineList .img a ,
.timelineList .img span {
	overflow: hidden;
	display: block;
	border: #fff solid 3px;
	border-radius: 90px;
	width: 174px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
.timelineList .img a:hover {
	box-shadow: none;
}
.timelineList .txt {
	display: table-cell;
	vertical-align: middle;
}
.timelineList.years60 .img {
	background-color: #f5f5f5;
	padding-bottom: 10px;
}
.timelineList.years60 .txt {
	padding-bottom: 10px;
}
.timelineList .timelineTit {
	font-size: 1.6rem;
	line-height: 1.4;
	color: #4f3400;
	font-weight: bold;
	margin-bottom: 10px;
}
.timelineList .timelineTit span {
	font-family: 'Libre Baskerville', serif;
	font-size: 2.2rem;
	display: block;
	font-weight: normal;
}
.timelineList .short {
	line-height: 1.5;
	padding: 0 15px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	background-color: #dbb930;
}
.timelineList .standard {
	line-height: 1.5;
	padding: 1px 15px 0;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
	color: #fff;
	background-color: #0081c2;
}
.otherMenu {
	width: 850px;
	margin: 0 auto;
	overflow: hidden;
}
.otherMenu li {
	float: left;
	margin-left: 5px;
	margin-right: 35px;
	padding-bottom: 10px;
}
.otherMenu li:last-child {
	margin-right: 0;
}
.otherMenu li a {
	border: #fff solid 3px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	display: block;
}
.otherMenu li a:hover {
	box-shadow: none;
}

.reserveBottom {
	margin-top: 100px;
	background-color: #edefe2;
	background-image: url("../img/share/bg_stripe.png");
	background-repeat: repeat-x;
	padding: 136px 0 10px;
	background-position: bottom;
	position: relative;
}
.reserveBottom .reserveCircle {
	height: 186px;
	width: 400px;
	overflow: hidden;
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -200px;
}
.reserveBottom .reserveCircle p {
	height: 340px;
	width: 400px;
	text-align: center;
	background-color: #edefe2;
	border-radius: 200px;
	padding-top: 60px;
}
.reserveBottom .txt {
	padding-bottom: 200px;
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	background-image: url("../img/reserve/bg_reserve.png");
	background-repeat: no-repeat;
	background-position: 50% bottom;
}
/******************************
撮影メニュー詳細
******************************/
.mainImg {
	background-color: #fff;
	text-align: center;
	position: relative;
	margin-top: -46px;
	margin-bottom: 40px;
	width: 100%;
}
.mainImg:after {
	content: "";
    position:absolute;
    top:0; right:0; bottom:0; left:0;
	box-shadow: 0 10px 10px rgba(0,0,0,.15) inset;
}
#hundreddays .menuTit {
	background-image: url("../img/menu/100days/tit_menu.png");
}
#newborn .mainImg {
	background-color: #b6e7ff;
}
#newborn .menuTit {
	background-image: url("../img/menu/newborn/tit_menu.png");
}
#halfbirthday .mainImg {
	background-color: #f6f4ee;
}
#halfbirthday .menuTit {
	background-image: url("../img/menu/halfbirthday/tit_menu.png");
}
#birthday .mainImg {
	background-color: #f1f5f9;
}
#birthday .menuTit {
	background-image: url("../img/menu/birthday/tit_menu.png");
}
#celebration753 .mainImg {
	background-color: #f4f9fa;
}
#celebration753 .menuTit {
	background-image: url("../img/menu/celebration753/tit_menu.png");
}
#entrance .mainImg {
	background-color: #edefee;
}
#entrance .menuTit {
	background-image: url("../img/menu/entrance/tit_menu.png");
}
#maternity .mainImg {
	background-color: #f3f2f1;
}
#maternity .menuTit {
	background-image: url("../img/menu/maternity/tit_menu.png");
}
#senior .mainImg {
	background-color: #f2f0e8;
}
#senior .menuTit {
	background-image: url("../img/menu/senior/tit_menu.png");
}
.menuTit span {
	background-color: #f5f5f5;
	display: inline-block;
	padding: 0 15px 0 20px;
}
#family .menuTit#familyPhoto {
	background-image: url("../img/menu/family/tit_menu_family.png");
}
#family .menuTit#brotherPhoto {
	background-image: url("../img/menu/family/tit_menu_brother.png");
}
#family .menuTit span {
	background-color: #f5f5f5;
	display: inline-block;
	padding: 0 15px 0 20px;
}
#location .mainImg {
	background-color: #e5fffe;
}
#location .menuTit {
	background-image: url("../img/menu/location/tit_menu.png");
}
.subBox {
	width: 966px;
	overflow: hidden;
	margin: 0 auto 50px;
}
.subBox .img {
	float: left;
	margin-right: 30px;
	padding: 0 0 5px 3px;
}
.subBox .img img {
	border: #fff solid 3px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
.subBox .txt {
	float: left;
	width: 456px;
	padding-right: 3px;
	font-size: 1.6rem;
}
.subBox .txt p {
	margin-bottom: 1em;
}
.sceneBox {
	width: 960px;
	border: #000 solid 2px;
	margin: 0 auto 50px;
	position: relative;
}
.sceneBox .tit {
	color: #4f3400;
	font-size: 2.2rem;
	text-align: center;
	background-color: #ffef66;
	border-bottom: #000 solid 2px;
	padding: 4px 0;
}
.sceneBox .img {
	position: absolute;
	top: -32px;
	right: 135px;
}
.sceneBox ul {
	width: 920px;
	overflow: hidden;
	padding: 20px;
	background-color: #fff;
}
.sceneBox ul li {
	float: left;
}
.sceneBox ul li:last-child {
	float: right;
}
.sceneBox ul li img {
	width: 438px;
}
.planArea {
	background-color: #fff;
	padding: 50px 0;
}
.planAreaIn {
	width: 960px;
	margin: auto;
}
.planArea .planTit {
	text-align: center;
	margin-bottom: 40px;
}
.planArea .planTxt {
	text-align: center;
	color: #4f3400;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 60px;
}
.planArea .short {
	line-height: 1.5;
	padding: 0 15px;
	text-align: center;
	display: inline-block;
	color: #fff;
	background-color: #dbb930;
}
.planArea .standard {
	line-height: 1.5;
	padding: 1px 15px 0;
	text-align: center;
	display: inline-block;
	color: #fff;
	background-color: #0081c2;
}
.planArea .pinkBar {
	line-height: 1.5;
	padding: 1px 15px 0;
	text-align: center;
	display: inline-block;
	color: #fff;
	background-color: #ff94c6;
}
.planArea .dailyBar {
	line-height: 1.5;
	padding: 1px 15px 0;
	text-align: center;
	display: inline-block;
	color: #fff;
	background-color: #9acd00;
}
.planArea .fineBar {
	line-height: 1.5;
	padding: 1px 15px 0;
	text-align: center;
	display: inline-block;
	color: #fff;
	background-color: #ffad1e;
}
.planBox {
	margin-bottom: 70px;
}
.planBoxTit {
	background-image: url(/common/img/share/bg_dot.png);
	background-position: 0 50%;
	background-repeat: repeat-x;
	background-size: 6px 3px;
	text-align: center;
	font-size: 2.6rem;
	font-weight: bold;
	margin-bottom: 40px;
}
.planBoxTit span {
	display: inline-block;
	background-color: #fff;
	padding: 0 50px;
}
.captionBox {
	padding: 0 40px 40px;
	width: 880px;
	overflow: hidden;
	font-size: 1.6rem;
	margin-bottom: 160px;
}
.captionTit {
	padding-top: 40px;
	font-size: 2.0rem;
	font-weight: bold;
	background-image: url(/common/img/share/bg_dot.png);
	background-position: 0 56px;
	background-repeat: repeat-x;
	background-size: 6px 3px;
}
.captionTit span {
	display: inline-block;
	padding-right: 30px;
}
.captionBox p {
	margin-top: 16px;
}
.captionBox ul {
	margin-top: 15px;
	overflow: hidden;
	width: 100%;
}
.captionBox li {
	text-align: center;
	width: 130px;
	color: #fff;
	float: left;
	margin-right: 15px;
	font-size: 1.4rem;
}
.captionBox li:last-child {
	margin-right: 0;
}
.captionBox .captionTxt {
	font-size: 1.5rem;
}
.captionLeft {
	float: left;
	width: 420px;
}
.captionRight {
	float: right;
	width: 420px;
}
.captionBox table {
	margin-top: 15px;
	width: 100%;
	border-left: #000 solid 1px;
	border-top: #000 solid 1px;
}
.captionBox table th ,
.captionBox table td {
	border-right: #000 solid 1px;
	border-bottom: #000 solid 1px;
	text-align: center;
	padding: 3px 0;
}
.captionBox table thead th {
	background-color: #8cbdd6;
	font-weight: bold;
	color: #fff;
}
.captionBox table tbody th {
	font-weight: bold;
	background-color: #f5f5f5;
}
.captionBox table td {
	background-color: #fff;
}
.setBox {
	position: relative;
	padding: 30px 40px 50px;
}
.setBox.inTxt {
	padding-bottom: 15px;
}
.setCircle {
	height: 140px;
	overflow: hidden;
	position: absolute;
	top: -124px;
	left: 50%;
	margin-left: -315px;
}
.setCircle p {
	width: 630px;
	padding: 24px 0 490px;
	text-align: center;
	border-radius: 315px;
}
.setTit {
	text-align: center;
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 16px;
}
.setBoxInner {
	background-color: #fff;
	padding: 40px 40px 10px;
	font-size: 1.6rem;
	overflow: hidden;
}
.setBoxInner .setBox01 {
	float: left;
	width: 380px;
	text-align: center;
	margin-bottom: 40px;
}
.setBoxInner .setBox02 {
	float: right;
	width: 380px;
	text-align: center;
	margin-bottom: 40px;
}
.setBoxInner .setBox03 {
	clear: both;
	text-align: center;
	margin-bottom: 40px;
}
.setBoxName {
	font-size: 2.0rem;
	font-weight: bold;
	margin: 10px 0 5px;
}
.setBoxName span {
	font-size: 1.6rem;
	font-weight: normal;
	display: block;
}
.setBoxTxt {
	font-size: 2.0rem;
	font-weight: bold;
	margin: 0 0 10px;
	font-family: 'Montserrat', sans-serif;
}
.setBoxTxt span {
	font-size: 1.6rem;
	font-weight: normal;
	display: inline-block;
	margin-right: 10px;
}
.setBoxInner ul {
	margin-bottom: 20px;
}
.setBoxInner li {
	text-align: center;
	width: 378px;
	margin:0 auto 5px;
	font-weight: bold;
	padding: 5px 0;
}
.setBoxInner .img {
	border-style: solid;
	border-width: 1px;
}
.setBoxInner .setBox03 .img {
	border: none;
}
.setBoxInner .setBox03 .img.bp {
	border: #23b3bd solid 1px;
	display: inline-block;
}
.setBoxSubTxt {
	width: 380px;
	margin: -10px auto 15px;
	text-align: left;
}
.setBox .bottomTxt {
	text-align: right;
	line-height: 20px;
	padding-top: 15px;
}

/*ショート枠*/
#short .captionBox {
	background-color: #f9f8dc;
}
#short .captionTit {
	color: #b49000;
}
#short .captionTit span {
	background-color: #f9f8dc;
}	
#short .captionBox li {
	background-color: #b49000;
}
#short .setCircle p {
	background-color: #f9f8dc;
}
#short .setBox {
	background-color: #f9f8dc;
}
#short .setBoxInner li{
	background-color: #f5f5f5;
	border: #23b3bd solid 1px;
	color: #23b3bd;
}
#short .setBoxInner li.none {
	background-color: #fff;
	border: none;
	font-weight: normal;
	line-height: 1.5;
	padding: 0;
}
#short .setBoxInner .img {
	border-color: #23b3bd;
}
/*スタンダード枠*/
#standard .captionBox {
	background-color: #e1f0f7;
}
#standard .captionTit {
	color: #0081c2;
}
#standard .captionTit span {
	background-color: #e1f0f7;
}	
#standard .captionBox li {
	background-color: #0081c2;
}
#standard .setCircle p {
	background-color: #e1f0f7;
}
#standard .setBox {
	background-color: #e1f0f7;
}
#standard .setBoxInner li{
	background-color: #f5f5f5;
	border: #f673b0 solid 1px;
	color: #f673b0;
}
#standard .setBoxInner .img {
	border-color: #f673b0;
}
#standard .setBoxInner li.none {
	background-color: #fff;
	border: none;
	font-weight: normal;
	line-height: 1.5;
	padding: 0;
}
/*日常撮影プラン*/
#daily .captionBox {
	background-color: #e3f7d0;
}
#daily .captionTit {
	color: #9acd00;
}
#daily .captionTit span {
	background-color: #e3f7d0;
}	
#daily .captionBox li {
	background-color: #9acd00;
}
#daily .setCircle p {
	background-color: #e3f7d0;
}
#daily .setBox {
	background-color: #e3f7d0;
}
#daily .setBoxInner li{
	background-color: #f5f5f5;
	border: #23b3bd solid 1px;
	color: #23b3bd;
}
#daily .setBoxInner .img {
	border-color: #23b3bd;
}
/*ハレの日同行プラン*/
#fine .captionBox {
	background-color: #ffeed9;
}
#fine .captionTit {
	color: #ff9c00;
}
#fine .captionTit span {
	background-color: #ffeed9;
}	
#fine .captionBox li {
	background-color: #ff9c00;
}
#fine .setCircle p {
	background-color: #ffeed9;
}
#fine .setBox {
	background-color: #ffeed9;
}
#fine .setBoxInner li{
	background-color: #f5f5f5;
	border: #e892ba solid 1px;
	color: #e892ba;
}
#fine .setBoxInner .img {
	border-color: #e892ba;
}
.galleryBox {
	padding: 50px 0 100px;
}
.galleryBox .menuTit span {
	display: inline-block;
	padding: 0 15px 0 20px;
	background-color: #f5f5f5;
}
.galleryBox .img {
	text-align: center;
}
.familyArea {
	background-color: #fff;
	padding: 50px 0;
}
.familyAreaIn {
	width: 471px;
	margin: auto;
}
.familyArea .tit {
	font-size: 2.4rem;
	color: #4f3400;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.familyArea .txt {
	font-size: 1.6rem;
	margin-bottom: 20px;
}
.familyArea .img {
	padding: 0 0 5px 3px;
}
.familyArea .img img {
	border: #fff solid 3px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
/******************************
個人情報保護方針・ご利用規約
******************************/
.privacyBox {
	width: 880px;
	margin: auto;
	font-size: 1.6rem;
}
.privacyBox .tit {
	font-size: 2.2rem;
	font-weight: bold;
	margin-bottom: 30px;
}
.privacyBox .txt {
	margin-bottom: 20px;
}
.privacyBox dl dt {
	font-weight: bold;
}
.privacyBox dl dd {
	margin-bottom: 20px;
}
.privacyBox.top {
	background-image: url(/common/img/share/bg_dot02.png);
	background-position: 0 bottom;
	background-repeat: repeat-x;
	background-size: 12px 3px;
	padding-bottom: 70px;
	margin-bottom: 70px;
}


/******************************
パーツ
******************************/
.nomal { font-weight: normal !important; }
.bold { font-weight: bold !important; }
.mt10 { margin-top: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb30 { margin-bottom: 30px !important; }
.mr10 { margin-right: 10px !important; }
.mlr10 { margin-left: 10px !important; margin-right: 10px !important; }
.cRed {	color: #f00 !important;}
.cPink { color: #fc528b !important;}
.cBlue , a.cBlue { color: #0012fe;}
.bNotes {
	margin-top: 20px;
	color: #009ebc;
}
.error {
	color: #f00;
	display: block;
}
.bold { font-weight: bold !important; }
.sp {
	display: none;
}
.pc {
	display: block;
}
.tCenter { text-align: center !important; }

.fontLibreBaskerville {
	font-family: 'Libre Baskerville', serif;
}
.fontMontserrat {
	font-family: 'Montserrat', sans-serif;
}










