@charset "UTF-8";
/* CSS Document */
.sp {
	display: block;
}
.pc {
	display: none;
}
/******************************
ヘッダー&メニュー
******************************/
header {
	background-color: #f5f5f5;
}
header .headerIn {
	width: auto;
	overflow: hidden;
	background-image: url("../img/header/bg_black.png");
	background-position: bottom;
	background-repeat: repeat-x;
	padding-bottom: 2px;
}
header #logo {
	float: left;
	width: 200px;
	text-align: left;
	padding-top: 12px;
}
header .logoImg {
	padding-top: 0;
	margin: 0 4px 0 8px;
	display: inline-block;
}
header .logoImg img {
	margin-top: 3px;
	width: 60px;
}
header .logoTxt {
	display: inline-block;
}
header .logoTxt img {
	width: 80px;
}
header #navPc {
	display: none;
}
header #navPc .btn {
}
header #navPc .btn li {
}
header #navPc .nav {
}
header #navPc .nav li {
}
.hover a:hover img {
}
header #navSp {
	display: block;
	position: relative;
}
header #navSp .menuBtn {
	float: right;
}
header #navSp .menuBtn img {
	width: 62px;
}
header .headerIn {
	width: auto;
	overflow: hidden;
	background-image: url("../img/header/bg_black.png");
	background-position: bottom;
	background-repeat: repeat-x;
	padding-bottom: 2px;
}
/******************************
スマホメニュー
******************************/

#menuSp {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0px;
    box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.2);
    z-index: 2000;
    background-color:#FFF;
    text-align:center;
    display: none;
}
#menuSp .naviArea ul {
    background-color: #efefef;
    padding: 0 15px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 4px;
}
#menuSp .naviArea ul li {
    border-bottom: 1px solid #d7d7d7;
    -webkit-box-shadow: 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 0 #FFF;
    text-align:center;
}
#menuSp .naviArea ul li:last-child {
	border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#menuSp .naviArea ul li a {
    display:block;
    padding: 12px 0px 15px;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.2;
}
#menuSp .naviArea ul li a span {
    font-size: 1.8rem;
    font-family: 'Crimson Text', serif;
    letter-spacing: 0.06em;
    display: block;
}
/******************************
フッター
******************************/
.gototop {
	background-size: 5px 81px;
}
.gototop img {
	width: 150px;
}
.gototop:hover {
}
.footerNav {
	border-top:#fff solid 1px;
	border-bottom: none;
	background-color: #e2e2e2;
	padding: 0;
}
.footerNav .homeSp {
	display: block;
	text-align: center;
	font-size: 0.9rem;
	border-bottom:#fff solid 1px;
	line-height: 1.4;
	padding: 10px 0;
}
.footerNav .homeSp a {
	display: block;
	text-decoration: none;
	color: #000;
}
.footerNav ul {
	display: table;
	width: 100%;
	border-left: none;
}
.footerNav ul li {
	display: inline-block;
	width: 50%;
	text-align: center;
	border-right: none;
	font-size: 0.9rem;
	line-height: 1.4;
	border-bottom:#fff solid 1px;
	vertical-align: middle;
	height: 50px;
	line-height: 1.7;
}
.footerNav ul li:nth-child(odd) {
	background-image: url("../img/footer/bg_white.png");
	background-repeat: repeat-y;
	background-position: right;
	background-size: 1px 1px;
}
.footerNav ul li.footermenuSp {
	display: inline-block;
}
.footerNav span {
    font-size: 1.6rem;
    font-family: 'Crimson Text', serif;
    display: block;
    line-height: 1;
    margin-bottom: 1px;
}
.footerNav ul li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 10px 0;
}
.footerNav ul li a:hover {
	opacity: 0.7;
}
.footerTel {
	display: none;
}
.wanted {
	background-color: #9dd1db;
	background-image: url("../img/footer/bg_wanted.png");
	background-size: 225px 97px;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 110px;
	position: relative;
	text-align: center;
}
.wanted a {
	position: absolute;
	top: 66px;
	margin-left: 32px;
	font-size: 0.9rem;
	font-weight: bold;
}
.wanted a:hover {
}
.copy {
	text-align: center;
	padding: 8px 0 70px;
	font-size: 0.7rem;
}
.footerBtn {
	position: fixed;
	bottom: 0;
	display: table;
	width: 100%;
	box-shadow: 0 -2px rgba(0,0,0,0.15);
}
.footerBtn li {
	display: table-cell;
	border-right: #fff solid 1px;
	width: 25%;
	font-size: 0.9rem;
}
.footerBtn li:last-child {
	border-right: none;
}
.footerBtn li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background-position: 50% 0;
	background-size: 75px 57px;
	background-repeat: no-repeat;
	padding: 36px 0 10px;
}
.footerBtn li.access a {
	background-image: url("../img/footer/bg_access.png");
	background-color: #339fd1;
}
.footerBtn li.tel a {
	background-image: url("../img/footer/bg_tel.png");
	background-color: #339fd1;
}
.footerBtn li.mypage a {
	background-image: url("../img/footer/bg_mypage.png");
	background-color: #339fd1;
}
.footerBtn li.reserve a {
	background-image: url("../img/footer/bg_reserve.png");
	background-color: #eec70f;
	color: #000;
}
/******************************
TOPページ
******************************/
#mainSlide { 
	width: 320px;
	height: 240px;
}
.mainSlideIn {
	width: 960px;
	margin-left: -480px;
}
.mainSlideIn:after {
}
.slider {
}
.slider li {
	width: 320px;
}
.slider li img {
}
.bx-pager {
	text-align: center;
	height: 10px;
}
.bx-pager-item {
	display: inline-block;
}
.bx-pager-item a {
	height: 10px;
	width: 10px;
	border-radius: 10px;
	margin: 0 10px;
}
.bx-pager-item a.active {
}
.bx-controls {
	bottom: -40px;
}
#infoArea {
	width: auto;
	margin: 30px 10px;
}
.indexTit {
	background-size: 320px 55px;
	font-size: 1.3rem;
	padding: 19px 0 15px;
	margin-bottom: 30px;
}
#infoArea .indexTit {
}
.infoBox {
	padding: 20px 10px 30px;
}
.infoImg {
	top: -24px;
	right: 10px;
}
.infoImg img {
	width: 126px;
}
.infotxtMain {
	font-size: 1.8rem;
}
.infotxtSub {
	font-size: 1.4rem;
	margin-bottom: 15px;
}
a.greenBtn {
	width: auto;
	margin: 0 10px;
	font-size: 1.4rem;
}
a.greenBtn:hover {
}
.infoList {
	margin-top: 30px;
}
.infoListTit {
	font-size: 1.8rem;
}
.infoList dt {
	font-size: 1.4rem;
}
.infoList dt span {
	display: inline-block;
	margin-left: 10px;
	padding: 0 20px;
	color: #fff;
	font-size: 1.4rem;
	font-weight: normal;
	background-color: #333;
}
.infoList dd {
	font-size: 1.2rem;
}
#photomenuArea {
	padding: 30px 0;
}
#photomenuArea .indexTit {
}
.photomenuAreaIn {
	width: auto;
	margin: 0 10px;
}
.menuTop {
	margin-bottom: 30px;
}
.menuTop li {
	width: auto;
	float: none;
	margin-right: 0;
	margin-bottom: 20px;
	text-align: center;
}
.menuTop li:last-child {
	margin-right: 0;
}
.menuTop li a {
	text-decoration: none;
}
.menuTop li a:hover {
	text-decoration: underline;
}
.menuTop li p {
	width: auto;
	margin: 0 30px 0;
}
.menuTop li span {
	font-size: 1.5rem;
	margin-bottom: 0;
}
.menuBottom {
	width: auto;
	overflow: hidden;
	margin: 0 auto 20px;
}
.menuBottom li {
	margin-right: 0;
	font-size: 1.4rem;
	width: 49%;
	margin-bottom: 5px;
}
.menuBottom li:nth-child(even) {
	float: right;
}
.menuBottom li:last-child {
	margin-right: 0;
}
.menuBottom li img {
	width: 100%;
	margin-bottom: 0px;
}
.menuBottom li a {
}
.menuBottom li a:hover {
}
#studioArea {
	width: auto;
	margin: 0 10px;
	padding: 30px 0;
	font-size: 1.4rem;
}
#studioArea .indexTit {
}
#studioArea .tit {
	margin: 30px 10px;
}
#studioArea .tit img {
	width: 182px;
}
.movieList {
}
.movieList li {
	text-align: center;
	margin-bottom: 20px;
}
.movieList li img {
	width: 100%;
}
.movieList li:first-child {
	float: none;
}
.movieList li:last-child {
	float: none;
}
#productArea {
	padding: 30px 0;
}
.productAreaIn {
	width: auto;
	text-align: center;
	margin: 0 10px;
}
#productArea .indexTit {
}
#productArea .txt {
	margin-bottom: 20px;
}
#productArea .img {
	margin-bottom: 20px;
}
#productArea .img img {
	width: 100%;
}
.whiteBg {
}
#accessArea {
	padding-top: 30px;
}
.accessAreaIn {
	width: auto;
	overflow: hidden;
	margin: auto;
}
.gMap {
	float: none;
	width: auto;
	height: 430px;
}
.addressBox {
	float: none;
	width: auto;
	margin: 0 10px 20px;
}
.addressBox img {
	width: 100%;
}
.addressBox .img {
}
.addressBox .tit {
}
.addressBox .txt {
}

/******************************
アーティクル
******************************/
article {
	font-size: 1.3rem;
	padding-bottom: 20px;
}
#pageTitle {
}
/******************************
ログイン
******************************/
body#popup {
	background-color: rgba(0,0,0,0.1);
}
.loginArea {
}
#popupTitle {
}
.loginAreaIn {
}
.loginBox {
}
.loginBox .tit {
}
.loginBox dd {
}
.loginBox input {
}
.loginBox .loginBtn {
}
/******************************
会員登録
******************************/
.descriptionArea {
	width: auto;
	margin: 0 10px 30px;
}
.descriptionArea.thankyou {
}
.descriptionArea .tit {
}
.descriptionArea .txt {
}
.descriptionArea .subTxt {
}
.formEnterArea {
	width: auto;
	margin: 0 10px 30px;
}
.formEnterArea .tit {
}
.formEnterArea .tit span {
	font-size: 1.3rem;
}
.formEnterArea dl {
}
.formEnterArea dt {
}
.formEnterArea dd {
}
.formEnterArea dd input[type="text"] {
	width: 90%;
	font-size: 1.3rem;
}
.formEnterArea table {
	width: 100%;
}
.formEnterArea table th {
}
.formEnterArea table td {
}
.formTxt {
}
.formCheckArea {
	width: auto;
	margin: 0 10px 30px;
}
.formCheckArea .tit {
	font-size: 1.5rem;
}
.formCheckArea .formCheckAreaIn {
	padding: 0 10px;
}
.formCheckArea table {
	width: 100%;
}
.formCheckArea table th {
	width: auto;
}
.formCheckArea table td {
}
.shortForm {
	width: 6em !important;
}
.formEnterArea dd input.addressBtn {
}
.formEnterArea dd input:hover.addressBtn {
}
.submitBtn ,
a.submitBtn {
	width: 92%;
	font-size: 1.3rem;
}
.submitBtn:hover {
}
.backBtn {
}
.backBtn:hover {
}
.mypageBtn ,
a.mypageBtn {
	width: 92%;
	font-size: 1.3rem;
	background-position: 18% 6px;
}
:placeholder-shown  {
}
::-webkit-input-placeholder  {
}
:-moz-placeholder {
}
::-moz-placeholder {
}
:-ms-input-placeholder {
}
/******************************
撮影の流れ
******************************/
#reserveTop {
	background-color: #edefe2;
	text-align: center;
	padding: 34px 0 100px;
	background-size: 240px 90px;
}
#reserveTop .purpleBox {
	width: auto;
	margin: 10px 10px 0;
}
#reserveTop #reserveTitle {
	font-size: 1.2rem;
	padding-top: 30px;
	margin-bottom: 20px;
	background-size: 122px 22px;
}
.reserveArea {
	padding-top: 18px;
	width: auto;
	margin: 0 10px;
}
.reserveArea .reservationflowTit {
	background-size: 320px 55px;
	font-size: 1.3rem;
	padding: 19px 0 15px;
	margin-bottom: 30px;
}
.reserveArea .reserveBox {
	padding-bottom: 15px;
	margin-bottom: 5px;
	background-size: 23px 9px;
}
.reserveArea .reserveBox.none {
}
.reserveArea .reserveBox div {
	padding: 10px 10px 10px 22px;
	width: auto;
	margin-left: 15px;
}
.reserveArea .reserveBox .num {
	left: -15px;
	margin-top: -15px;
	width: 30px;
	font-size: 2.0rem;
	border-radius: 15px;
}
.reserveArea .reserveBox .tit {
	font-weight: bold;
	font-size: 1.4rem;
}
.reserveArea .reserveBox .txt {
	font-size: 1.1rem;
}
.reserveArea .subTxt {
	width: auto;
	margin-left: 15px;
	font-size: 1.3rem;
	margin-bottom: 50px;
}
a.registrationBtn {
	width: 150px;
	padding: 8px 30px 8px 0;
	font-size: 1.1rem;
}
a:hover.registrationBtn {
}
/******************************
カレンダー
******************************/
.stepArea {
	width: 320px;
	margin: 0 auto 30px;
	font-size: 0.9rem;
} 
.stepArea ul {
}
.stepArea ul li {
	width: 55px;
	padding-right: 10px;
	background-position: 59px 32px;
	background-size: 6px 8px;
}
.stepArea ul li:last-child {
	padding-right: 0;
	background-image: none;
}
.stepArea ul li span {
	width: 55px;
}
.stepArea ul li.active span {
	width: 53px;
}
.attentionArea {
	width: auto;
	margin: 0 10px 30px;
}
.attentionArea .tit {
	margin-bottom: 20px;
}
.attentionArea .tit img {
	width: 208px;
}
.attentionArea table {
}
.attentionArea table th,
.attentionArea table td {
}
.attentionArea table thead th {
	font-size: 1.3rem;
}
.attentionArea table tbody th {
	background-color: #dcdcdc;
	width: 18px;
	padding: 15px 1px;
	font-size: 0.6rem;
	line-height: 1.2;
}
.attentionArea table tbody th.side {
	padding: 5px 0 5px 3px;
	width: auto;
	font-size: 0.7rem;
}
.attentionArea table tbody td {
	background-color: #fff;
	padding: 5px 0;
	font-size: 0.8rem;
}
.attentionArea table tbody td img {
	width: 15px;
}
.attentionArea .subTit {
	font-size: 1.3rem;
}
.calendarArea {
	width: auto;
}
.reservationStatusTit {
	background-size: 320px 55px;
	font-size: 1.3rem;
	padding: 19px 0 15px;
	margin-bottom: 30px;
}
.guideboard {
	background-size: 300px 116px;
	width: 300px;
	margin-bottom: 30px;
}
.guideboard dt {
	padding-top: 8px;
	font-size: 1.1rem;
}
.guideboard dd {
	padding: 32px 0 16px;
	font-size: 1.3rem;
}
.guideboard dd span {
	float: 1.5rem;
}
.calendarArea .calendarBox {
	margin-bottom: 30px;
}
.calendarArea table.main {
}
.calendarArea table.main th ,
.calendarArea table.main td {
}
.calendarArea table.main thead th {
	font-size: 1.0rem;
} 
.calendarArea table.main thead th.tit {
	font-size: 1.5rem;
}
.calendarArea table.main thead th.sat {
}
.calendarArea table.main thead th.sun {
}
.calendarArea table.main thead th.tit a {
	top:16px;
	right: 10px;
}
.calendarArea table.main thead th.tit a:hover {
}
.calendarArea table.main thead th.tit a img {
}
.calendarArea table.main td {
	padding: 10px 2px 10px 3px;
	font-size: 0.6rem;
}
.calendarArea table.main td.nologin {
}
.calendarArea table.main td.nologin a {
	padding: 10px 2px 10px 3px;
}
.calendarArea table.main td .num {
	font-size: 1.0rem;
	line-height: 1;
	margin-bottom: 5px;
}
.calendarArea table.main td.sat .num {
}
.calendarArea table.main td.sun .num {
}
.calendarArea table.main td .course {
	margin-bottom: 8px;
}
.calendarArea table.main td .course.none {
	padding-top: 3em;
}
.calendarArea table.main td .icon {
	width: 17px;
	height: 17px;
	background-size: 17px 17px;
}
.calendarArea table.main td.past {
}
.calendarArea table.main td.open {
}
.calendarArea table.main td.notyet {
}
.calendarArea table.main td.notyet .icon {
}
.calendarArea table.main td.clickable:hover {
}
.calendarArea table.sub {
}
.calendarArea table.sub th {
	width: 20px;
}
.calendarArea table.sub td {
	padding-right: 10px;
}
.calendarArea table.sub .open {
}
.calendarArea table.sub .notyet {
}

/******************************
時間選択
******************************/
.timeArea {
	width: auto;
	margin: 0 10px 30px;
}
.timeAreaIn {
	padding: 0 20px;
}
.timeArea .tit {
	font-size: 1.3rem;
}
.timeArea .tit span.courseName {
	font-size: 1.5rem;
}
.timeArea .tit span.whiteBox {
	width: 250px;
}
.timeArea .tit {
	font-size: 1.5rem;
}
.timeArea .subTit {
}
.timeArea .subTit span {
}
.timeArea table {
	width: 100%;
}
.timeArea table th {
}
.timeArea table thead th {
}
.timeArea table td {
}
.timeArea table td.clickable:hover {
}
.timeArea .txt {
	margin-left: 0;
}

/******************************
情報入力
******************************/
.importantArea {
	width: auto;
	margin: 0 10px 20px;
}
.importantArea .tit {
}
.importantArea .txtWhite {
}
.importantArea .txt {
}
.importantArea .txt span {
}
.importantArea .subTxt {
}
.pTit {
}
.pTit span {
}
.selectBox select {
}
.selectBox select:hover {
}
.selectBox .selectYear {
	display: block;
	margin-bottom: 10px;
}
.selectBox .selectMonth {
}
table.model {
}
table.model th {
	width: 80px;
}
table.model td {
}
table.model th label {
	padding: 36px 0 36px 10px;
	width: 80px;
}
input.check {
	width: 15px;
	height: 15px;
	background-size: 15px 30px;
}
input.check:checked::before {
	width: 15px;
	height: 15px;
	background-size: 15px 30px;
}
input.radio {
}
input.radio:checked::before {
}
.radioUl {
}
.radioUl li {
	width: 48%;
}
.message01 {
	width: auto;
	margin: 0 10px auto;
	padding-bottom: 30px;
}
.message01 .tit {
	font-size: 1.4rem;
}
.message01 .subTit {
}
.message01 .txt {
}
.message01 .subTxt {
}

/******************************
マイページ
******************************/
#mypageTop {
	text-align: center;
	padding: 24px 0 20px;
}
#mypageTop #mypageTitle {
	background-size: 122px 42px;
	font-size: 1.2rem;
	padding-top: 44px;
}
#mypageTop .mypageTopBox {
	width: auto;
	margin: 20px 10px;
	padding-bottom: 3px;
	overflow: hidden;
	display: table;
}
#mypageTop .mypageTopBox .img {
	float: none;
	display: table-cell;
	border: #fff solid 3px;
	box-shadow: 0 3px rgba(0,0,0,0.15);
}
#mypageTop .mypageTopBox .img img {
	width: 147px;
}
#mypageTop .mypageTopBox .txt {
	margin-top: 0;
	float: none;
	display: table-cell;
	width: auto;
	padding-left: 20px;
}
#mypageTop .mypageTopBox .tit {
}
#mypageNav {
}
#mypageNav ul {
	width: 100%;
	margin: auto;
	display: table;
	border-left: #898989 solid 1px;
}
#mypageNav ul li {
	display: table-cell;
	vertical-align: middle;
	border-right: #898989 solid 1px;
	line-height: 16px;
	width: 28%;
}
#mypageNav ul li.home {
	width: 16%;
}
#mypageNav ul li.home img {
	width: 16px;
	height: 16px;
}
#mypageNav a {
}
#mypageNav li.act a ,
#mypageNav a:hover {
}
.mypageArea {
	width: auto;
	margin: 0 10px 30px;
}
.mypageArea .tit {

}
.mypageArea .tit span {
	display: inline-block;
	border-left: #3399cc solid 3px;
	padding-left: 10px;
	line-height: 1.3;
	font-size: 1.3rem;
}
.mypageBox {
	font-size: 1.2rem;
}
.mypageBox .subTit {
	font-size: 1.3rem;
	padding: 10px 0 10px 42px;
	background-position: 18px 11px;
	background-size: 18px 18px;
}
.mypageBox dl {
	border: #292929 solid 1px;
	border-top: none;
	padding: 20px 0;
	text-align: center;
}
.mypageBox dl dt {
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.mypageBox dl dd {
	border: #000 solid 1px;
	background-color: #fff;
	padding: 10px 0;
	margin:0 30px;
}
.mypageBox table {
}
.mypageBox table th {
}
.mypageBox table td {
}
.mypageBtnArea {
}
a.yellowBtn {
	background-size: 20px 11px;
	width: 280px;
	font-size: 1.2rem;
	margin-top: 15px;
}
a.yellowBtn span {
	background-size: 16px 15px;
	padding: 8px 20px 5px 35px;
}
a.yellowBtn:hover {
}
a.smallYellowBtn {
}
a.smallYellowBtn:hover {
}
a.smallGrayBtn {
}
a.smallGrayBtn:hover {
}
.mypageBtnArea .subTxt {
}
.mypageNotes {
	font-size: 1.2rem;
}
.mypageGuideBox .subTit {
	font-size: 1.3rem;
}
.mypageGuideBoxIn {
	font-size: 1.2rem;
	padding: 20px 0;
}
.mypageGuideBox table {
	width: 100%;
}
.mypageGuideBox table td {
	padding: 0 20px;
	width: 50%;
	vertical-align: top;
}
.mypageGuideBox table td img {
	width: 105px;
}
.mypageGuideBox table td:first-child {
	border-right: #c1c1c1 dashed 2px;
}
.mypageGuideBox table .tableTit {
	font-size: 1.3rem;
}
.mypageGuideBox table .txt {
}
/*予約の確認*/

.mypageTitArea {
	padding-top: 18px;
	width: auto;
	margin: 0 10px;
}
.mypageTitArea .mypageTit {
	background-size: 320px 55px;
	font-size: 1.3rem;
	padding: 19px 0 15px;
	margin-bottom: 30px;
}
.mypageTitArea p {
}
.pinkTit {
	margin: 0 10px 15px;
}
.pinkBox {
	padding: 10px 10px;
}
.pinkBox.img {
	background-size: 48px 82px;
	padding-right: 60px;
}
.bTit {
	font-size: 1.3rem;
}
.mypageCheckBox {
	padding: 15px;
	margin: 0 10px 15px 0;
}
.mypageCheckBox .checkTit {
	font-size: 1.3rem;
}
.mypageCheckBox .checkTit span {
}
/*撮影履歴*/
.historyArea {
	background-size: 137px 2500px;
	padding-top: 10px;
	width: auto;
	margin: 30px 10px 0;
}
.historyBox {
	margin-top: 30px;
}
.historyBox .subTit {
	background-size: 297px 25px;
	padding: 2px 0 5px 32px;
	font-size: 1.2rem;
	margin-bottom: 15px;
}
.historyBox .subTit span {
	display: inline-block;
	margin-right: 33px;
}
.historyBox .historyBoard {
	border: #fff solid 2px;
	border-radius: 10px;
	background-color: #f5f2ec;
	padding: 15px;
	margin: 0 10px 0 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.historyBox .historyBoardIn {
	width: 100%;
	overflow: hidden;
}
.historyBox .historyBoard .img {
	float: left;
}
.historyBox .historyBoard .img img {
	width: 105px;
}
.historyBox .historyBoard dl {
	float: left;
	margin: 0 0 0 20px;
	font-size: 1.1rem;
}
.historyBox .historyBoard dl dd {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 5px;
}
/******************************
撮影メニュー
******************************/
#innerTit {
	border-top: #fff solid 1px;
	border-bottom: #fff solid 1px;
	background-color: #f0ece7;
	padding: 22px 0;
	margin: 0 0 20px
}
#innerTit h1 {
	width: auto;
	margin: 0 10px;
	font-size: 1.6rem;
}
#innerTit h1 img {
	width: 40px;
}
#innerTit h1 span {
	font-family: 'Libre Baskerville', serif;
	margin-right: 10px;
}
.pageTop {
	width: auto;
	margin: 0 10px 30px;
}
.mainTxt {
	font-size: 1.6rem;
	margin-bottom: 20px;
}
.subTxt {
	font-size: 1.4rem;
	margin-bottom: 20px;
}
.purpleBox {
	font-size: 1.4rem;
	padding: 10px 20px;
}
.menuTit {
	background-size: 320px 55px;
	font-size: 1.3rem;
	padding: 19px 0 15px;
	margin-bottom: 30px;
}
.timelineBox {
	background-image: url("../img/menu/index/bg_flag_s.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: auto;
	margin: 0 10px 50px;
	background-size: 422px 5000px;
}
.timelineList {
	width: auto;
	margin-left: 0;
}
.timelineList.years01 {
	background-position: 51px 0;
}
.timelineList.years03 {
	background-position: 51px 0;
}
.timelineList.years10 {
	background-position: 51px 0;
}
.timelineList.years20 {
	background-position: 51px 0;
}
.timelineList.years60 {
	background-position: 51px 0;
}
.timelineList .img {
	width: 110px;
}
.timelineList .img img {
	width: 88px;
}
.timelineList .img a ,
.timelineList .img span {
	border: #fff solid 2px;
	border-radius: 46px;
	width: 88px;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}
.timelineList .img a:hover {
}
.timelineList .txt {
}
.timelineList.years60 .img {
}
.timelineList.years60 .txt {
}
.timelineList .timelineTit {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0;
}
.timelineList .timelineTit span {
	font-size: 1.6rem;
	font-weight: bold;
}
.timelineList .short {
	font-size: 12px;
	padding: 0 15px 2px;
	margin-bottom: 
}
.timelineList .standard {
	font-size: 12px;
	padding: 0 15px 2px;
}
.otherMenu {
	width: auto;
	margin: 0 auto;
	text-align: center;
}
.otherMenu li {
	float: none;
	padding-bottom: 10px;
	margin: 0 0 10px;
}
.otherMenu li:last-child {
	margin-right: 0;
}
.otherMenu li a {
	width: 247px;
	margin: 0 auto;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}
.otherMenu li a:hover {
}

.reserveBottom {
	margin-top: 50px;
	background-color: #edefe2;
	background-image: url("../img/share/bg_stripe.png");
	background-repeat: repeat-x;
	padding: 68px 0 10px;
	background-position: bottom;
	position: relative;
}
.reserveBottom .reserveCircle {
	height: 93px;
	width: 200px;
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -100px;
}
.reserveBottom .reserveCircle p {
	height: 170px;
	width: 200px;
	border-radius: 100px;
	padding-top: 30px;
}
.reserveBottom .reserveCircle p img {
	width: 106px;
}
.reserveBottom .txt {
	padding-bottom: 110px;
	text-align: center;
	font-size: 1.4rem;
	background-size: 240px 90px;
	margin: 5px 10px 0;
}
/******************************
撮影メニュー詳細
******************************/
.mainImg {
	margin-top: -20px;
	margin-bottom: 20px;
}
.mainImg:after {
}
.mainImg img {
	width: 100%;
}
.menu100daysArea {
}
.menu100daysArea .menuTit {
}
.subBox {
	width: auto;
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 0;
}
.subBox .img {
	float: none;
	margin: 0 auto 20px ;
	padding: 0 16px 0 10px;
}
.subBox .img img {
	border: #fff solid 3px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	width: 100%;
}
.subBox .txt {
	float: none;
	width: auto;
	padding-right: 0;
	margin: 0 10px;
	font-size: 1.4rem;
}
.subBox .txt p {
	margin-bottom: 1em;
}
.sceneBox {
	width: auto;
	margin: 30px 10px 30px;
	position: relative;
}
.sceneBox .tit {
	font-size: 1.6rem;
	padding: 4px 10px 4px 0;
}
.sceneBox .img {
	top: -12px;
	right: 0px;
}
.sceneBox .img img {
	width: 102px;
}
.sceneBox ul {
	width: auto;
	padding: 10px;
}
.sceneBox ul li {
	float: none;
}
.sceneBox ul li:last-child {
	float: none;
	margin-top: 5px;
}
.sceneBox ul li img {
	width: 100%;
}
.planArea {
	padding: 30px 0;
}
.planAreaIn {
	width: auto;
	margin: 0 10px;
}
.planArea .planTit {
	margin-bottom: 20px;
}
.planArea .planTit img {
	width: 182px;
}
.planArea .planTxt {
	font-size: 1.4rem;
	margin-bottom: 20px;
}
.planArea .short {
}
.planArea .standard {
}
.planArea .pinkBar {
}
.planBox {
	margin-bottom: 30px;
}
.planBoxTit {
	font-size: 1.8rem;
	margin-bottom: 20px;
}
.planBoxTit span {
	padding: 0 30px;
}
.captionBox {
	padding: 0 15px 15px;
	width: auto;
	font-size: 1.4rem;
	margin-bottom: 120px;
}
.captionTit {
	padding-top: 15px;
	font-size: 1.4rem;
	background-position: 0 26px;
}
.captionTit span {
	padding-right: 20px;
}
.captionBox p {
	margin-top: 5px;
}
.captionBox ul {
	margin-top: 10px;
	width: 100%;
}
.captionBox li {
	width: 100px;
	margin: 0 10px 10px 0;
	font-size: 1.2rem;
}
.captionBox li:last-child {
	margin: 0;
}
.captionBox .captionTxt {
	font-size: 1.2rem;
}
.captionLeft {
	float: none;
	width: auto;
}
.captionRight {
	float: none;
	width: auto;
}
.setBox {
	position: relative;
	padding: 20px 10px 20px;
}
.setCircle {
	height: 100px;
	top: -90px;
	margin-left: -125px;
}
.setCircle p {
	width: 250px;
	padding: 42px 0 150px;
	border-radius: 125px;
}
.setCircle p img {
	width: 101px;
}
.setTit {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.setBoxInner {
	background-color: #fff;
	padding: 20px 20px 0px;
	font-size: 1.4rem;
}
.setBoxInner .setBox01 {
	float: none;
	width: auto;
	margin-bottom: 30px;
}
.setBoxInner .setBox02 {
	float: none;
	width: auto;
	margin-bottom: 30px;
}
.setBoxInner .setBox03 {
}
.setBoxTit img {
	width: 115px;
}
.setBoxName {
	font-size: 1.6rem;
	margin: 10px 0 0;
}
.setBoxName span {
	font-size: 1.2rem;
	font-weight: normal;
	display: block;
}
.setBoxTxt {
	font-size: 1.6rem;
	margin: 0 0 5px;
}
.setBoxTxt span {
	font-size: 1.4rem;
	margin-right: 5px;
}
.setBoxInner ul {
	margin-bottom: 15px;
}
.setBoxInner li {
	width: auto;
	font-size: 1.2rem;
}
.setBoxInner .img {
	border-style: solid;
	border-width: 1px;
}
.setBoxInner .setBox03 .img {
	border: none;
}
.setBoxInner .img img {
	width: 100%;
}
.setBoxSubTxt {
	width: auto;
	margin: -5px auto 10px;
	font-size: 1.4rem;
	text-align: left;
}

/*ショート枠*/
#short .captionBox {
}
#short .captionTit {
}
#short .captionTit span {
}	
#short .captionBox li {
}
#short .setCircle p {
}
#short .setBox {
}
#short .setBoxInner li{
}
#short .setBoxInner li.none {
}
#short .setBoxInner .img {
}
/*スタンダード枠*/
#standard .captionBox {
}
#standard .captionTit {
}
#standard .captionTit span {
}	
#standard .captionBox li {
}
#standard .setCircle p {
}
#standard .setBox {
}
#standard .setBoxInner li{
}
#standard .setBoxInner .img {
}
#standard .setBoxInner li.none {
}
.galleryBox {
	padding: 30px 10px 50px;
}
.galleryBox .img {
	text-align: center;
}
.galleryBox .img img {
	width: 100%;
}
.familyArea {
	background-color: #fff;
	padding: 30px 0;
}
.familyAreaIn {
	width: auto;
	margin: 0 10px;
}
.familyArea .tit {
	font-size: 1.6rem;
	margin-bottom: 10px;
}
.familyArea .txt {
	font-size: 1.4rem;
	margin-bottom: 10px;
}
.familyArea .img {
	padding: 0 6px 0 0px;
}
.familyArea .img img {
	width: 100%;
}

/******************************
個人情報保護方針・ご利用規約
******************************/
.privacyBox {
	width: auto;
	margin: 0 10px;
	font-size: 1.2rem;
}
.privacyBox .tit {
	font-size: 1.4rem;
	margin-bottom: 20px;
}
.privacyBox .txt {
	margin-bottom: 15px;
}
.privacyBox dl dt {
}
.privacyBox dl dd {
	margin-bottom: 15px;
}
.privacyBox.top {
	padding-bottom: 40px;
	margin-bottom: 40px;
}