@charset "UTF-8";
/* CSS Document */

/******************************
リセット
******************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul,li {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
}
img,a{
	vertical-align:top;
}

/******************************
共通
******************************/
html {
	overflow-y:scroll;
	overflow-x:hidden;
	-webkit-text-size-adjust: none;
}
body {
	font-size:75%;
	line-height:1.75;
	color:#333333;
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo,  "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	overflow-x:hidden;
	background:#f1f2f7;
	min-width: 940px;
}
a , input {
	outline:none;
}
a,
a:link,
a:visited {
}
a:hover,
a:active  {
}

/*ツールチップ*/
.tooltip {
	display: none;
	position: absolute;
	padding: 5px 0;
	text-align: center;
	background-color: rgba(88,201,243,.7);
	color: #fff;
	left: 50%;
	margin-left:-50px; 
	width: 100px;
	bottom: -40px;
    z-index: 999;
    box-shadow: 1px 0 3px rgba(0,0,0,.3);
}

/******************************
ヘッダー&メニュー
******************************/
header {
	height: 80px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: rgba(255,255,255,.95);
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
    z-index: 500;
}
header.savePage {
	background-color: #fa8564;
}
header ul.statusList {
	margin-left: 260px;
	margin-top: 20px;
	float: left;
}
header ul.statusList li {
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
header ul.statusList li a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 6px 6px;
}
header ul.statusList li a:hover {
	background-color: #1fb5ad;
}
header ul.statusList li a span {
	line-height: 1;
	display: inline-block;
	font-size: 10px;
	padding: 5px;
	color: #fff;
	border-radius: 10px;
	min-width: 10px;
	position: absolute;
	right: -8px;
	top: -8px;
}
header ul.statusList li.reserved a {
	background-image: url("../img/bg_people_b.png");
}
header ul.statusList li.reserved a:hover {
	background-image: url("../img/bg_people_w.png");
}
header ul.statusList li.reserved a span {
	background-color: #a9d86e;
}
header ul.statusList li.waiting a {
	background-image: url("../img/bg_peoples_b.png");
}
header ul.statusList li.waiting a:hover {
	background-image: url("../img/bg_peoples_w.png");
}
header ul.statusList li.waiting a span {
	background-color: #fcb322;
}
header ul.statusList li.check a {
	background-image: url("../img/bg_check_b.png");
}
header ul.statusList li.check a:hover {
	background-image: url("../img/bg_check_w.png");
}
header ul.statusList li.check a span {
	background-color: #ff6c60;
}

header ul.operateList {
	margin-right: 20px;
	margin-top: 20px;
	float: right;
}
header ul.operateList li {
	float: right;
	margin-left: 10px;
	position: relative;
}
header ul.operateList li a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 6px 6px;
}
header ul.operateList li a:hover {
	background-color: #1fb5ad;
}
header .logout a {
	background-image: url("../img/bg_logout_b.png");
}
header .logout a:hover {
	background-image: url("../img/bg_logout_w.png");
}
header .csv a {
	background-image: url("../img/bg_csv_b.png");
}
header .csv a:hover {
	background-image: url("../img/bg_csv_w.png");
}
header .edit a {
	background-image: url("../img/bg_edit_b.png");
}
header .edit a:hover {
	background-image: url("../img/bg_edit_w.png");
}
header .plus a {
	background-image: url("../img/bg_plus_b.png");
}
header .plus a:hover {
	background-image: url("../img/bg_plus_w.png");
}
header ul.operateList li.save a {
	background-image: url("../img/bg_save_b.png");
	background-color: #fff;
}
header ul.operateList li.save a:hover {
	background-image: url("../img/bg_save_w.png");
	background-color: #1fb5ad;
}
nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 240px;
	background-color: #32323a;
	height: 100%;
	z-index: 501;
}
nav p {
	background-color: #1fb5ad;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	color: #fff;
	height: 80px;
}
nav ul a {
	display: block;
	color: #aeb2b7;
	background-color: #32323a;
	text-decoration: none;
	font-size: 12px;
	line-height: 1.5;
	padding: 17px 0 17px 60px;
	border-bottom: #3c3c43 solid 1px;
	background-repeat: no-repeat;
	background-position: 20px 15px;
}
nav ul li.dashboard a {
	background-image: url("../img/bg_dashboard.png");
}
nav ul li.dashboard.act a ,
nav ul li.dashboard a:hover {
	background-image: url("../img/bg_dashboard_o.png");
	color: #1fb5ad;
	background-color: #28282e;
}
nav ul li.customer a {
	background-image: url("../img/bg_customer.png");
}
nav ul li.customer.act a ,
nav ul li.customer a:hover {
	background-image: url("../img/bg_customer_o.png");
	color: #1fb5ad;
	background-color: #28282e;
}
nav ul li.reserve a {
	background-image: url("../img/bg_reserve.png");
}
nav ul li.reserve.act a ,
nav ul li.reserve a:hover {
	background-image: url("../img/bg_reserve_o.png");
	color: #1fb5ad;
	background-color: #28282e;
}
nav ul li.schedule a {
	background-image: url("../img/bg_schedule.png");
}
nav ul li.schedule.act a ,
nav ul li.schedule a:hover {
	background-image: url("../img/bg_schedule_o.png");
	color: #1fb5ad;
	background-color: #28282e;
}
nav ul li.data a {
	background-image: url("../img/bg_data.png");
}
nav ul li.data.act a ,
nav ul li.data a:hover {
	background-image: url("../img/bg_data_o.png");
	color: #1fb5ad;
	background-color: #28282e;
}

/******************************
顧客管理
******************************/
article {
	margin: 100px 20px 20px 260px;
	font-size: 14px;
}
section {
	margin-bottom: 30px;
}
.table01 table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}
.table01 table .editBtn {
	position: absolute;
	right: 10px;
	top: 6px;
}
.table01 table .editBtn a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background-repeat: no-repeat;
	background-position: 6px 6px;
	background-image: url("../img/bg_edit_w.png");
	background-color: #1fb5ad;
}
.table01 table .editBtn a:hover {
	background-color: #eee;
	background-image: url("../img/bg_edit_b.png");
}
.table01 table thead th {
	background-color: #1fb5ad;
	color: #fff;
	padding: 20px;
	font-size: 16px;
	position: relative;
	text-align: center;
	border-right: #bbe9e6 solid 1px;
	line-height: 1.5;
}
.table01 table thead tr th:last-child {
	border-right: none;
}
.table01 table thead th a.desc {
	position: absolute;
	right: 10px;
	top: 17px;
	font-size: 10px;
	text-decoration: none;
	color: #fff;
	opacity: 0.7;
	background-color: #1fb5ad;
	line-height: 1;
	padding: 2px;
	text-align: center;
	display: block;
	border-radius: 2px;
	border: #fff solid 1px;
}
.table01 table thead th a.asc {
	position: absolute;
	right: 10px;
	top: 35px;
	text-decoration: none;
	font-size: 10px;
	text-decoration: none;
	color: #fff;
	opacity: 0.7;
	background-color: #1fb5ad;
	line-height: 1;
	padding: 2px;
	text-align: center;
	display: block;
	border-radius: 2px;
	border: #fff solid 1px;
}
.table01 table thead th a:hover.desc ,
.table01 table thead th a:hover.asc {
	opacity: 1;
	background-color: #fff;
	color: #1fb5ad;
}
.table01 table thead th .hurigana {
	font-size: 12px;
	display: block;
	color: #eee;
}
.table01 table tbody th {
	background-color: #cde1e0;
	padding: 10px 20px 10px 20px;
	border-bottom: #f1f2f7 solid 2px;
	border-right: #f1f2f7 solid 1px;
}
.table01 table tbody td {
	background-color: #fff;
	padding: 10px 10px 10px 20px;
	border-bottom: #f1f2f7 solid 2px;
	border-right: #f1f2f7 solid 1px;
}
.table01 table tr td:last-child {
	border-right: none;
}
.table01 table tr:nth-child(even) td {
	background: #f8f8f8;
}
.table01 table tbody th.noreserve ,
.table01 table tbody td.noreserve {
	background-color: #ddd;
	color: #666;
}
.table01 table tbody td.keep {
	background-color: #f7e6b8;
}
.table01 table tbody tr.clickable:hover th ,
.table01 table tbody tr.clickable:hover td ,
.table01 table tbody td.clickable:hover {
	background-color: #bbe9e6;
	cursor: pointer;
    border-bottom: #ccc solid 2px;
}
.table01 table tbody tr.clickable:hover th.daycourse {
	background-color: #cde1e0;
	cursor: default;
	border-bottom: #f1f2f7 solid 2px;
}
.table01 input {
	font-size: 14px;
	padding: 5px 10px;
}
.table01 td input[type=text] {
	width: 80%;
}
.table01 td textarea {
	font-size: 14px;
	padding: 5px 10px;
	width: 80%;
	height: 5em;
}
.table01 .labelBox {
	border: #ccc solid 1px;
	padding: 10px;
	display: block;
	margin: 5px 0;
	border-radius: 3px;
	background-color: #fefefe;
}
.table01 .option {
	margin-bottom: 5px;
}
.table01 .option input[type=text] {
	display: inline-block;
	width: 40%;
}
.table01 .tableLink a ,
.table01 .tableLink input {
	color: #fff;
	background-color: #1fb5ad;
	border: #1fb5ad solid 2px;
	padding: 3px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-decoration: none;
	margin-top: 5px;
	display: inline-block;
}
.table01 .tableLink.mt0 a ,
.table01 .tableLink.mt0 input {
	margin-top: 0;
}
.table01 .tableLink a:hover {
	background-color: #fff;
	color: #1fb5ad;
}
.table01 label {
	margin-right: 30px;
	cursor: pointer;
}
.table01 table tbody tr.sum th ,
.table01 table tbody tr.sum td {
	border-top: #1fb5ad solid 2px;
	border-bottom: #1fb5ad solid 2px;
}
table.modelTable {
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
}
table.modelTable th {
	padding: 10px 20px 10px 20px;
	font-size: 16px;
	border-bottom: #ccc solid 1px;
	background-color: #58c9f3;
	color: #fff;
}
table.modelTable td {
	padding: 10px 0px 10px 30px;
	border-bottom: #ccc solid 1px;
	font-size: 16px;
}
table.modelTable tr:last-child th,
table.modelTable tr:last-child td{
	border-bottom: none;
}
table.modelTable a {
	display: inline-block;
	width: 80px;
	line-height: 30px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	color: #58c9f3;
	border: #58c9f3 solid 2px;
	margin-right: 30px;
}
table.modelTable a:hover {
	color: #fff;
	background-color: #58c9f3;
}
.modelBox {
	display: none;
}
.modelDl {
	width: 100%;
	overflow: hidden;
}
.modelDl dt {
	clear: both;
	float: left;
	width: 100px;
	margin-bottom: 5px;
}
.modelDl dd {
	float: left;
	margin-bottom: 5px;
}
.modelDl dd input[type="text"] {
	width: 400px;
}
.modelDl dd span {
	margin-right: 20px;
}
.table02 {
	display: flex;
	flex-flow: row wrap;
}
.table02 table {
	width: 32%;
	margin: 0 1% 10px 0;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;
	overflow: hidden;
}
.table02 table th ,
.table02 table td {
	background-color: #fa8564;
	color: #fff;
	padding: 20px 10px 20px 20px;
	font-size: 16px;
}
.table02 table .sub {
	font-size: 12px;
}
.table01 table .formText ,
.table02 table .formText {
	width: 6em;
	display: inline-block;
}
.table02 input ,
.table02 label {
	font-size: 14px;
	padding: 5px 10px;
	margin-bottom: 5px;
}
.table03 table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;
	overflow: hidden;
	font-size: 14px;
}
.table03 table th.img {
	background-color: #58c9f3;
	color: #fff;
	padding: 20px 20px 10px;
	font-size: 16px;
	width: 206px;
	text-align: center;
}
.table03 table th.img.reserve {
	background-color: #9466b5;
}
.table03 table th.img img {
	width: 200px;
	border: #fff solid 3px;
	border-radius: 3px;
}
.table03 table th ,
.table03 table td {
	background-color: #fff;
	padding: 10px 20px;
	border-bottom: #f1f2f7 solid 1px;
}
.table03 table th {
	border-right: #f1f2f7 solid 1px;
	background-color: #e9e9e9;
}
.table03 table tr td.clickable:hover {
	background-color: #bbe9e6;
	cursor: pointer;
}
.table04 table {
	width: 700px;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;
	overflow: hidden;
	font-size: 14px;
}
.table04 table th {
	background-color: #58c9f3;
	color: #fff;
	padding: 10px 20px;
}
.table04 table td {
	border-left: #f1f2f7 solid 1px;
	background: #fff;
}
.table04 table td input[type=text] {
	font-size: 16px;
	width: 400px;
	padding: 16px 15px;
	border: none;
}
.table04 table td input[type="submit"] {
	background-color: #eee;
	border: none;
	display: block;
	width: 120px;
	font-size: 14px;
	padding: 13px 0;
	border-bottom: #ccc solid 2px;
	border-right: #ccc solid 2px;
}
.table04 table td input:hover {
	cursor: pointer;
	background-color: #ceedfc;
}
.table05 table {
	max-width: 1100px;
	float: left;
	margin: 0 40px 40px 0;
}
.table05 table:nth-child(even) {
	margin: 0 0 40px 0;
}
.table05 table thead th {
	background-color: #1fb5ad;
	color: #fff;
	padding: 20px;
	font-size: 16px;
	position: relative;
	text-align: center;
	border-right: #bbe9e6 solid 1px;
	line-height: 1.5;
	width: 14%;
}
.table05 table thead th.tit {
	padding: 5px;
	border-bottom: #bbe9e6 solid 1px;
}
.table05 table tbody td {
	background-color: #fff;
	padding: 5px 10px 10px 10px;
	border-bottom: #f1f2f7 solid 2px;
	border-right: #f1f2f7 solid 1px;
	font-family: arial;
	vertical-align: top;
}
.table05 table tbody td.none {
	background: #f8f8f8;
}
.table05 table tbody td p {
	display: table;
	margin-bottom: 5px;
}
.table05 table tbody td p span.day {
	display: table-cell;
	font-size: 24px;
	padding-right: 5px;
}
.table05 table tbody td p span.plan {
	display: table-cell;
	font-size: 12px;
	vertical-align: middle;
}
.table05 table tbody td.clickable:hover {
	background-color: #bbe9e6;
	cursor: pointer;
    border-bottom: #ccc solid 2px;
}
.table05 table tbody td.clickable:hover table td {
	background-color: #bbe9e6;
}
.table05 table tbody td table {
	border-top: #ccc dotted 1px;
	width: 100% !important;
	margin: 0;
}
.table05 table tbody td table th {
	border: none;
	border-bottom: #ccc dotted 1px;
	padding: 2px 0 2px 5px;
	font-size: 12px;
}
.table05 table tbody td table td {
	border: none;
	border-bottom: #ccc dotted 1px;
	text-align: right;
	padding: 2px 5px 2px 0;
	font-size: 12px;
	background:none;
}
.table05 table tbody td table td span {
	background-color: #a9d86e;
	color: #fff;
	line-height: 1;
	padding: 3px 0;
	text-align: center;
	width: 18px;
	border-radius: 9px;
	display: inline-block;
}
.table05 table tbody td table td span.vacancy {
	background-color: #fcb322;
}
.table05 table tbody td.today {
	border: #1fb5ad solid 3px;
}
.table06 table {
	width: 700px;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 4px;
	overflow: hidden;
	font-size: 14px;
}
.table06 table th {
	background-color: #58c9f3;
	color: #fff;
	text-align: center;
	padding: 10px 20px;
}
.table06 table td {
	border-left: #f1f2f7 solid 1px;
	background: #fff;
	padding: 10px;
	text-align: center;
}
.table06 table td input[type=text] ,
.table06 table td input[type=password] {
	width: 500px;
	margin: 0 auto;
	padding: 16px 15px;
}
.table06 table td input[type=submit] {
	color: #fff;
	background-color: #1fb5ad;
	border: #1fb5ad solid 2px;
	border-radius: 2px;
	font-size: 12px;
	margin-bottom: 15px;
	display: inline-block;
	width: 200px;
	padding: 8px 0;
}
.table06 table td input[type=button]:hover {
	color: #1fb5ad;
	background-color: #fff;
	cursor: pointer;
}
:placeholder-shown ,
::-webkit-input-placeholder {
	color: #bbb;
}
input.shortForm {
	width: 2em !important;
}

/*セレクトボックス*/

.customSelect {
  overflow: hidden;
  display: block;
  *display: inline;
  *zoom: 1;
  position: relative;
  background-color: #fff;
  line-height: 1;
  text-align: center;
  width: 120px;
  margin-left: 1px;
}
.customSelect option {
}
.customSelect:hover {
  text-decoration: none;
  background-color: #ceedfc;
}
.customSelect select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
  cursor: pointer;
}
.customSelect > select {
  padding: 14px 20px 14px 20px;
  width: 100px;
}
.customSelect:after {
  position: absolute;
  top: 17px;
  right: 10px;
  font-size: 12px;
  display: block;
  content: "▼";
  pointer-events: none;
}
.error {
	display: block;
	color: #fa8564;
}
.pager {
	text-align: center;
}
.pager li {
	display: inline-block;
}
.pager li a {
	display: block;
	background-color: #a9d86e;
	border: #a9d86e solid 2px;
	color: #fff;
	font-size: 12px;
	line-height: 1;
	padding: 9px 0;
	width: 30px;
	text-decoration: none;
	text-align: center;
	margin: 0 10px;
	border-radius: 16px;
}
.pager li.active a {
	background-color: #fff;
	color: #a9d86e;
}
/******************************
パーツ
******************************/
.green {
	background-color: #1fb5ad;
}
.lightgreen {
	background-color: #a9d86e;
}
.lightred {
	background-color: #ff6c60;
}
.orange {
	background-color: #fa8564;
}
.lightorange {
	background-color: #fcb322;
}
.blue {
	background-color: #58c9f3;
}

.tLeft {
	text-align: left!important;
}
.mt0 {
	margin-top: 0 !important;
}